<div class="section" style="background-color: white;  position: relative;" dir="rtl">
    <div class="row" style="position: relative; ">
        <img src="../../../../assets/imgs/Import.png" style="height: 250px;">
        <p class="new text-white fs-4" style="position: absolute; right: 200px; top: 90px;">إخطار المطالبات</p>  
    </div>
    <div class="container">
      <form>
        <h2 class="text">تعويضات الحوادث الشخصية </h2>
        <div class="row mt-2">
            <div class="col-6">
                <h2 class="text1">اخطار الحادث</h2>
                <div style="position: relative;">
                    <input class="form-control" readonly value="{{this.selecteditem1.name}}">
                    <input (change)="uploadeitem1($event)" class="form-control" type="file" hidden #item1>
                    <i (click)="item1.click()" class="logo fa-solid fa-arrow-up-from-bracket fs-5" style="color: #334CAB;"></i>
                </div>
                <!-- <img class="img1" src="../../../../assets/imgs/Uploading.svg"> -->
            </div>
            <div class="col-6">
                <h2 class="text1">صورة بطاقة المشترك</h2>
                <div style="position: relative;">
                    <input class="form-control" readonly value="{{this.selecteditem2.name}}">
                    <input class="form-control" type="file" #item2 hidden (change)="uploadeitem2($event)">
                    <i (click)="item2.click()" class="logo fa-solid fa-arrow-up-from-bracket fs-5" style="color: #334CAB;"></i>
                </div>
                <!-- <img class="img2" src="../../../../assets/imgs/Uploading.svg"> -->
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <h2 class="text1">محضر شرطة بالواقعة</h2>
                <div style="position: relative;">
                    <input class="form-control" readonly value="{{this.selecteditem3.name}}">
                    <input class="form-control" type="file" hidden #item3 (change)="uploadeitem3($event)">
                    <i (click)="item3.click()" class="logo fa-solid fa-arrow-up-from-bracket fs-5" style="color: #334CAB;"></i>
                </div>
                <!-- <img class="img3" src="../../../../assets/imgs/Uploading.svg"> -->
            </div>
            <div class="col-6">
                <h2 class="text1">تقرير طبي من الجهة العلاجية</h2>
                <div style="position: relative;">
                    <input type="text" readonly class="form-control" value="{{this.selecteditem4.name}}">
                    <input (change)="uploaditem4($event)" #item4 hidden type="file" class="form-control">
                    <i (click)="item4.click()" class="logo fa-solid fa-arrow-up-from-bracket fs-5" style="color: #334CAB;"></i>
                </div>
                <!-- <img class="img4" src="../../../../assets/imgs/Uploading.svg"> -->
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <h2 class="text1">تقرير من الكومسيون الطبي في حالة العجز</h2>
                <div style="position: relative;">
                    <input class="form-control" readonly value="{{this.selecteditem5.name}}">
                    <input class="form-control" #item5 hidden type="file" (change)="uploadeitem5($event)">
                    <i (cllck)="item5.click()" class="logo fa-solid fa-arrow-up-from-bracket fs-5" style="color: #334CAB;"></i>
                </div>
                <!-- <img class="img5" src="../../../../assets/imgs/Uploading.svg"> -->
            </div>
            <div class="col-6">
                <h2 class="text1"> شهادة الوفاة في حالة الوفاة بحادث لا قدر الله </h2>
                <div style="position: relative;">
                    <input class="form-control" readonly value="this.selecteditem6.name">
                    <input class="form-control" type="file" hidden #item6 (change)="uploadeitem6($event)">
                    <i (click)="item6.click()" class="logo fa-solid fa-arrow-up-from-bracket fs-5" style="color: #334CAB;"></i>
                </div>
                <!-- <img class="img6" src="../../../../assets/imgs/Uploading.svg"> -->
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <h2 class="text1">تقرير من الكومسيون الطبي في حالة العجز</h2>
                <div style="position: relative;">
                    <input class="form-control" readonly value="{{this.selecteditem7.name}}">
                    <input (change)="uploadeitem7($event)" class="form-control" hidden type="file" #item7>
                    <i (click)="item7.click()" class="logo fa-solid fa-arrow-up-from-bracket fs-5" style="color: #334CAB;"></i>
                </div>
                <!-- <img class="img7" src="../../../../assets/imgs/Uploading.svg"> -->
            </div>
            <div class="col-6"></div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button type="button" class="btn butto w-25 py-2">ارسال</button>
        </div>
        <div class="row d-flex justify-content-start py-4">
            <p class="text5">أو أرسل لنا بريد إلكترونى على<a href="mailto:khaled.yousef@alkan.com">khaled.yousef@alkan.com</a><br>أو الاتصال علي<a href="tel:01002644495">01002644495</a> .</p>
        </div>
      </form>
    </div>

</div>