.container{
border-radius: 12px;
background: var(--background, #FFF);
box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.07);
margin-top: 3rem;
width: 40%;
}
.img{
padding-top: 1rem;
padding-bottom: 3rem;
}
.text{
color: #324BA9;
text-align: center;
font-family: 'El Messiri', sans-serif!important;
font-size: 1.1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
position: relative;
bottom: 30px;
}
@media all and (max-width:750px){
    html{
        font-size: 14px!important;
    }
    .text{
        font-size: .9rem;
    }
    
   
}