<div class="reset-password-container">
    <div class="reset-password-card">
        <h2>إعادة تعيين كلمة المرور</h2>
        <p>  مرحبا بك في افق منصة تعليمية متكاملة</p>

        <form>
            <div class="form-field">
                <label for="newPassword"> البريد الالكترونى او رقم الهاتف</label>
                <input type="password" id="newPassword" placeholder=" البريد الالكترونى او رقم الهاتف " />
            </div>
            <button class="submit" routerLink="/otppage">اعادة تعيين</button>

        </form>

    
    </div>

    <div class="illustration">
        <img src="assets/imgs/forget.png" alt="Reset password illustration" />
    </div>
</div>