.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: ltr; 
    padding: 20px;
}
.reset-password-card h2,
.reset-password-card p {
  text-align: center;
  font-family: 'cairo';
}

.reset-password-card {
    border-radius: 28px;
    padding: 40px 50px;
    max-width: 470px;
    width: 100%;
    text-align: right;
    direction: rtl; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
}

.illustration {
    border-radius: 28px;
    margin-right: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration img {
  max-width: 400px; 
  height: auto;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
 
}

p {
    color: #292929;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.form-field {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #1A1A1A ;
    margin-bottom: 6px;
    text-align: right;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 14px 16px;
    border: 1.5px solid #ffffff;
    border-radius: 14px;
    font-size: 15px;
    background-color: #fafafa;
    color: #333;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

input::placeholder {
    color: #999;
}

input:focus {
    border-color: #a0a0a0;
    outline: none;
}

button {
    background-color: #47251B;
    color: #FFFFFF;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #4b342d;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: #777;
}

.login-link a {
    color: #5d4239;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
  .reset-password-container {
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
  }

  .illustration {
    order: -1; 
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
  }

  .illustration img {
    max-width: 100%;
    height: auto;
   
  }

  .reset-password-card {
    padding: 30px 20px;
    min-height: auto;
    width: 100%;
  }
}
