<div id="per-accid-calculations">
    <div class="container">
        <div class=" mx-4 pt-3">
            <p class="head_1 text-center my-4">Net Premium And Total Installment</p>
        </div>
        <div class="outerItem outerBorder shadow_5 my-3 w-75" style="margin: auto; overflow: auto;">
            <table class="table table-striped table-bordered text-center mt-2" style="border-radius: 20px;">
                <tbody class="align-middle">
                    <tr *ngIf="this.PersonalAccident?.netPermium!=null">
                        <th class="w-30 py-3">Net Premium</th>
                        <td class="w-60 py-3">
                            {{this.PersonalAccident?.netPermium}}
                        </td>
                    </tr>
                    <tr>
                        <th class="w-30 py-3">Total Installment</th>
                        <td class="w-60 py-3">
                            {{this.PersonalAccident?.totalInstallment}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <button mat-raised-button color="primary" routerLink="/PaymnetDetails">Ok </button>
            <div id="loading" *ngIf="loading">  
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>
        </div>
    </div>
</div>