 <!-- <div class="outerBorder shadow_5 py-5"> -->
    <div class="container-fluid">
         <div class="row mt-6 mt-5">
                <!-- Qoutaions -->
                <div class="col-lg-4 col-md-6"data-aos-duration="900" data-aos="fade-right" [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1055556666'">
                    <div class="small-box bg_yellow" [dir]="'dir'| translate">
                        <div class="inner">
                            <h2>المطالبات</h2>
                            <p class="fs-5">Requests</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-file"></i>
                        </div>
                        <div class="m-auto box-footer">
                            <a routerLink="/AllClaims" class="text-center">المطالبات <i class="fa-solid fa-arrow-right"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos-duration="900" data-aos="fade-down" [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1011112222'">
                    <div class="small-box bg_green">
                        <div class="inner">
                            <h2>الطلبات</h2>
                            <p class="fs-5">5</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-bullhorn"></i>
                        </div>
                        <div class="m-auto box-footer">
                            <a routerLink="/AllRequests" class="text-center">الطلبات<i class="fa-solid fa-arrow-right"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos-duration="900" data-aos="fade-left" [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1033334444'">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h2>معاينه</h2>
                            <p class="fs-5">3</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="m-auto box-footer">
                            <a routerLink="/PreviewedRequests" class="text-center">معاينه <i class="fa-solid fa-arrow-right"></i></a> 
                        </div>
                    </div>
                </div>
                 <div class="col-lg-4 col-md-6 mt-2" data-aos-duration="900" data-aos="fade-up"[hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1000000000'">
                    <div class="small-box bg_red">
                        <div class="inner">
                            <h2>المنتجات</h2>
                            <p class="fs-5">10</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-shield-halved"></i>
                        </div>
                        <div class="m-auto box-footer">
                            <a routerLink="/OurProducts" class="text-center">المنتجات <i class="fa-solid fa-arrow-right"></i></a> 
                        </div>
                    </div>
                </div>
            
            </div>
    </div>
           
<!-- </div> -->