<div id="leastOffer" dir="rtl">
    <div class="container">
        <div class=" mx-4 pt-3">
            <p class="head_1 text-center my-4">اقــل العــروض</p>
        </div>
        <div class="outerItem outerBorder shadow_5 my-3 w-75" style="margin: auto; overflow: auto;">
            <table class="table table-striped table-responsive-sm text-center">
                <thead class="tableHead">
                    <th>#</th>
                    <!-- <th class="py-2">اســـم الشــركــه</th> -->
                    <th>العــــرض</th>
                    <th>السـعــر</th>
                    <th></th>
                </thead>
                <tbody>

                    <tr *ngFor="let item of LessOffers;let i =index">
                        <th class="align-middle">{{i+1}}</th>
                        <!-- <td class="align-middle">
                            {{item.companyName}}
                        </td> -->
                        <td class="align-middle">
                            {{item.offer}} % من سعر السياره 
                        </td>
                        <td class="align-middle">
                            {{this.Price*item.offer/100}}
                        </td>
                        <td class="align-middle">
                            <button (click)="offers(item.companyId)" mat-raised-button color="primary">العــروض</button>
                        </td>
                        
                    </tr>
                </tbody>

            </table>
            <div id="loading" *ngIf="loading">
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>
        </div>
    </div>
</div>