
<section id="AboutAlcan" class="py-5 mt-5" dir="rtl">
    <div class="container">
        <p class="head_1 py-3" style="color: #F16E17 !important;">عن الكان</p>
        <div class="row">
            <div class="col-md-9  d-flex align-items-center">
                <div class="shadow_5 outerBorder" style="background-color: white; width: 100%;">
                    <div class="d-flex py-2">
                        <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:#033291 "></i>
                        <p class="check-app">شركة الكان لوساطة التأمين هي شركة مساهمة مصرية تمارس وساطة التأمين وفقا لقانون الشركات المساهمة رقم 159 لسنة 1981 م وقانون الإشراف والرقابة على التأمين رقم 10 لسنة 1981 المعدل بالقانون رقم 118 لسنة 2008 م. واللائحة التنفيذية وتخضع لأحكام قوانين الهيئة العامة للاستثمار وهيئة السوق المالية. وتعمل في إطار قرارات وتشريعات هيئة الرقابة المالية ومقيدة في سجل شركاء وسطاء التأمين تحت رقم 99.</p>
                    </div>
                    <div class="d-flex py-2">
                        <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:#033291  "></i>
                        <p class="check-app">ألكان للوساطة في التأمين واحدة من مجموعة ألكان القابضة، والتي تعمل بفاعلية في مجالات متعددة تتضمن مجال الاتصالات و الشبكات، تكنولوجيا المعلومات، العقارات، التصنيع، التجارة و التوزيع، السفر، السياحة، الغزل و النسيج، الطيران، الأجهزة الطبية، المعدات الثقيلة، و استيراد و تجارة السيارات.</p>
                    </div>
                    <div class="d-flex py-2">
                        <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:#033291  "></i>
                        <p class="check-app">
                            شركة ألكان للوساطة في التأمين بالتعاون مع جميع شركات التأمين المعتمدة بالسوق المصري وتوفر من خلالها أنسب العروض و التغطيات بأفضل الشروط المعتمدة بناءا" على عنصر الخبرة والدراسة إلى جانب كبر حجم التعامل السنوي مع هذه الشركات.-
                            </p>
                    </div>
                    <div class="d-flex py-2">
                        <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:#033291 "></i>
                        <p class="check-app"> ألكان للوساطة في التأمين يكمن دورها الحقيقي في توفير الحل التأميني المناسب للعميل من خلال دراسة وتقيم الأخطار التي يتعرض لها وتحديد التغطيات المناسبة طبقا لطبيعة نشاطه واحتياجاته.</p>
                    </div>
                    <div class="d-flex py-2">
                        <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:#033291 "></i>
                        <p class="check-app"> 
                            ألكان للوساطة في التأمين هدفها هو رفع المستوى المهني لخدمات الوساطة في التأمين حيث يعمل بها فريق عمل لديهم القدرة بمزاوله أعمال الوساطة في التأمين لديهم الخبرة والكفاءة في جميع مجالات التأمين ولديهم القدرة على تناول أعمال التأمين الخاصة بالأفراد أو الشركات بمختلف أنواعها. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <img src="../../../../assets/imgs/hhghjgh.gif" class="w-100" alt="Vision">
            </div>
        </div>
    </div>
</section> 
