<!-- <div class="container">
  <div style="background-color: #FFF;">
    <h2 class="text">انشاء حساب جديد</h2>
    <div class="row">
        <h2 class="text1">الأسم</h2>
        <input class="form-control">
    </div>
    <div class="row">
      <h2 class="text1">رقم الهاتف</h2>
      <input class="form-control">
      <img class="Arrow" src="../../../../assets/imgs/Arrow.svg">
      <h2 class="number">+91</h2>
    </div>
    <div class="row bg-info">
      <button class="btn forgot text-white w-75"> انشاء حساب</button>

      <h2 class="">او تسجيل دخول من </h2>
      <div class="d-flex justify-content-center">
        <img src="../../../../assets/imgs/Google.svg" class="mx-1" style="width: 9%;">
        <img src="../../../../assets/imgs/Facebook.svg" style="width: 9%;">
      </div>
    </div>
    <h4 class="text-3">لديك حساب؟ </h4>
    <h4 class="text-4">تسجيل دخول</h4>
  </div>
</div> -->

<div id="signUp" class="pt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="signUpBox my-4 px-5">
        <h2 class="text">انشاء حساب جديد</h2>
        <form [formGroup]="SignUPForm">
          <div class="py-2">
            <label class="text1" style="display:block;">اسم المستخدم</label>
            <input formControlName="userName" type="text" class="form-control" dir="rtl">
          </div>
          <div class="py-2">
            <label class="text1"style="display:block;">رقم الهاتف</label>
            <input formControlName="phoneNumber" type="number" class="form-control" dir="rtl">
          </div>
        </form>
        <div>
          <button [disabled]="this.SignUPForm.status=='INVALID'||this.isClicked" (click)="submitSignUpForm()" mat-raised-button color="primary" class="w-100 mt-2">انشاء حساب </button>
        </div>
        <h2 class="OtherLog mt-2">او تسجيل دخول من </h2>
        <div class="d-flex justify-content-center">
          <img src="../../../../assets/imgs/Google.svg" class="mx-2" style="width: 5%;">
          <img src="../../../../assets/imgs/Facebook.svg" style="width: 5%;">
        </div>
        <p class="text-center py-2">لديك حساب <span style="color:#407BFF;" routerLink="/login">تسجيل دخــــــول</span></p>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>



    <!-- <section id="signUp" class=" d-flex align-items-center" data-aos-duration='1000' data-aos="fade-right" dir="rtl">
        <div class="container">
          <div class="inner p-5 outerBorder shadow_5" >
            <div class="row">
                <p class="head_1 text-center">تسجيــــــل</p>
              
              <div class="col-lg-6 d-flex align-items-center col2">
                <div class="w-100">
                  <form [formGroup]="SignUPForm">


                      <mat-form-field class="w-100" appearance="fill">
                          <mat-label>الاسـم الأول  </mat-label>
                          <input formControlName="firstName" type="text" matInput>
                          <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> perm_identity</mat-icon>
                      </mat-form-field>
                      

                      <mat-form-field class="w-100" appearance="fill">
                          <mat-label>الاسـم الأخيــر </mat-label>
                          <input formControlName="lastName" type="text" matInput>
                          <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> perm_identity</mat-icon>
                      </mat-form-field>
                      
                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label>اســم المستخــدم</mat-label>
                        <input formControlName="userName" type="text" matInput>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> perm_identity</mat-icon>
                      </mat-form-field>


                      <mat-form-field class="w-100" appearance="fill">
                          <mat-label>بريدك الالكتروني ..</mat-label>
                          <input formControlName="email" type="email" matInput>
                          <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);">email</mat-icon>
                      </mat-form-field>
                      <div *ngIf="SignUPForm.controls.email.errors && SignUPForm.controls.email.touched" class="alert alert-danger">
                       Please Enter Valid Email
                      </div>

                      <mat-form-field class="w-100" appearance="fill">
                        <mat-label>رقـم التليفـون ..</mat-label>
                        <input formControlName="phoneNumber" type="text" matInput>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);">phone_iphone</mat-icon>
                      </mat-form-field>
                

                    
      
                    <div *ngIf="errorMsg !=null" class="alert alert-danger mt-2">
                        {{this.errorMsg}}
                     </div>
    
                     <div class="mt-2">
                        <button [disabled]="this.SignUPForm.status=='INVALID'" (click)="submitSignUpForm()" mat-raised-button color="primary" class="px-4 w-50"><span *ngIf="!isClicked" class="h6 ">Sign Up</span><span *ngIf="isClicked" class="h5">Waiting...</span></button>
                     </div>
                     
                  </form>
                 
                </div>
              </div>
              <div class="col-lg-6">
                <ng-lottie [options]="signup1">
                </ng-lottie>
              </div>
            </div>
          </div>
        </div>
      </section>
      
     -->