// .loader {
//     width: 72px;
//     height: 72px;
//     display: inline-block;
//     position: relative;
//     border: 2px solid #09c;
//     box-sizing: border-box;
//     animation: rotation 2s linear infinite;
//   }
//   .loader::after,
//   .loader::before {
//     content: '';  
//     box-sizing: border-box;
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     margin: auto;
//     border: 2px solid #FF3D00;
//     width: 62px;
//     height: 62px;
//     animation: rotationBack 1.5s linear infinite;
//     transform-origin: center center;
//   }
//   .loader::before {
//     width: 52px;
//     height: 52px;
//     border-color:tomato;
//     box-sizing: border-box;
//     animation: rotation 1s linear infinite;
//   }
  
//   @keyframes rotation {
//     0% {
//       transform: rotate(0deg);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
//   } 
//   @keyframes rotationBack {
//     0% {
//       transform: rotate(0deg);
//     }
//     100% {
//       transform: rotate(-360deg);
//     }
//   }
.loader {
  width: 65px;
  height: 65px;
  margin: auto;
  position: relative;
}
.loader:before {
    content: '';
    width: 65px;
    height: 20px;
    background: #000;
    opacity: 0.25;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
  }
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #4758B8;
    animation: bxSpin 0.5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
@keyframes bxSpin {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
