<section id="home" class="py-5" dir="rtl">
    <div class="container pt-5">
        <div class="row d-flex align-items-center ">
            <div class="col-md-7 ">
                <!-- Indiviual Or Companies -->
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item w_47" role="presentation">
                        <button  class="nav-link active w-100" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">تأمين فردي </button>
                    </li>

                </ul>

                <div class="outer py-3">
                    <div class="container">
                        <!-- Indiviual -->
                        <div class="row my-2 px-4 Indiviual">
                            <p class="check-app py-3">تأمين حماية المنزل</p>
                            <div class="my-2">
                                <label class="px-2 py-1">الاسم</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">رقم الهاتف</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">البريد الالكتروني</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">نوع البرنامج</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">رمز ترويجي</label>
                                <input type="text" class="form-control">
                            </div>

                            <button class="w-75 m-auto py-4 mt-3"  mat-raised-button color="primary">مقارنه</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image companies-->
            <div class="col-md-5">
                <img src="../../../../assets/imgs/insurances/HomeProtection.png" class="w-100">
                 <div class="OtherInsuranceDetails p-1">
                     {{this.insuranceDescription}}
                 </div>
            </div>
        </div>
    </div>
</section>