#products{
    min-height: 95Vh;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: #f0f4f9;
    background-image: url(../../../../assets/imgs/bg_2.png);
    background-position: center center;
}
p {
    margin: 0rem!important;
}
.head_2{
    color: rgba(4, 64, 139, 0.9) !important;
    font-size: 1.6rem!important;
    font-weight: bold!important;
    // background-color: #fff!important;
}
.persons,.company{
    border-radius: 0.8rem;
}

.persons_p{
    background-color: #4758b8;
    color: #FFF!important;
    border-top-left-radius: 0.8rem ;
}
.companies_p{
    background-color: #28a745!important;
    color: #FFF!important;
    border-top-right-radius: 0.8rem ;
}
.persons_p,.companies_p{
    cursor: pointer;
}
img{
    border-bottom-left-radius: 0.8rem!important;
    border-bottom-right-radius: 0.8rem!important;
}
.operationsBox{
    height: 60vh;
    border-radius: 30px 30px 30px 30px;
    padding: 10px 35px 0px 35px;
    border: 2px solid midnightblue;
    overflow: auto;
}
.mat-mdc-tab-body-content {
    height: 50%!important; 
    width: 100%!important;
    overflow: auto;
}
mat-label{
    font-size: 1.05rem;
    font-weight: 500;
    font-family: 'El Messiri', sans-serif!important;

}
input{
    font-size: 1.1rem!important;
    font-family: 'El Messiri', sans-serif!important;
}
.OtherInsuranceDetails{
    border: dashed 1px gray;
    border-radius: 0.5rem;
    height: 8rem;
    overflow: auto;
    font-size: 0.96rem;
    font-weight: 600;
}