.container{
    border-radius: 8px;
    background: var(--background, #FFF);
    
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 170px;
  left: 20px;
  right: 10px;
}

.text{
    font-family: 'El Messiri', sans-serif!important;
    color: rgba(4, 64, 139, 0.9);
    font-size: 1.5rem!important;
    font-weight: bold!important;
    border: 0;
    padding-right: 40px;
}
.text1{
    font-family: 'El Messiri', sans-serif!important;
    color: rgba(4, 64, 139, 0.9);
    font-size: 1.1rem!important;
    font-weight: bold!important;
    border: 0;
    padding-right: 40px;

}
.text2{
    font-family: 'El Messiri', sans-serif!important;
    color: rgba(4, 64, 139, 0.9);
    font-size: 1.1rem!important;
    font-weight: 500!important;
    border: 0;
    padding-right: 40px;
    line-height: normal;

}
