<div class="section pt-4" style="background-color: white; height: 400px; position: relative;" dir="rtl">
    <div class="row" style="position: relative; ">
        <img src="../../../../assets/imgs/Import.png" style="height: 200px;">
        <p class="new text-white fs-4" style="position: absolute; right: 200px; top: 90px;">إخطار المطالبات</p>
        
    </div>
    <div class=" container">
        <h2 class="text pt-3">الطبية</h2>
        <h2 class="text1">يمكنك تقديم مطالباتك عن طريق قنوات الاتصال التالية :</h2>
        <p class="text2">أرسل لنا بريد إلكترونى على<a href="mailto:khaled.yousef@alkan.com">khaled.yousef@alkan.com</a><br>أو الاتصال علي<a href="tel:01002644495">01002644495</a> .<br>أو تفضل بزيارتنا في مقر الشركة.</p>
        <!-- <p class="text2">أرسل لنا بريدة إلكترونياً إلى yousif.elgazzar@alkan.com<br>إو الاتصال بالخط الساخن  01050187000 .<br>أو تفضل بزيارتنا في مقر الشركة.</p> -->
    </div>

</div>
