.PannrerImg{
    background-image: url(../../../assets/imgs/Tbia.png);
    height: 33vh;
    background-size: 100% 100%;
}
.container{
  border-radius: 11px;  
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.09);
}

.text{
    font-family: 'El Messiri', sans-serif!important;
    color: var(--primary, #334CAB);
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.outerBox{
    background-color: #E3E8ED;
    border-radius: 1rem;
}
.ClientsTitle{
    
    background-color: #FFF;
    border-radius: 0.5rem;
    color:#334CAB;
    font-size: 1rem;
    font-weight: 600;

}
.text_details{
    font-family: 'El Messiri', sans-serif!important;
    color: var(--primary, #334CAB);
    text-align: right;
    font-size: 0.9rem;
}
.outerArrow{
    width: 2rem;
    height: 2rem;
    color: #FFF;
    background-color: #F16E17;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0.6rem!important;
    cursor: pointer;
}

button,.outerArrow{
    cursor: url('../../../assets/imgs/pointer.png'), default!important;
}
