<div id="select-insurances" style="padding-top: 15px; margin-top: 25px;" dir="rtl">
    <div class="container">
        <div class="outer my-5 w-75 m-auto">
            <div class="row py-3"> 
                <div class="col-2"></div>
                <div class="col-md-8">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item w_47 mx-2" role="presentation">
                            <button (click)="getInsuranceType('companies')" [class.active]="this.type=='companies'" class="nav-link  w-100" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">تأمين الشركات </button>
                        </li>
                        <li class="nav-item w_47" role="presentation">
                            <button (click)="getInsuranceType('individual')" [class.active]="this.type=='individual'" class="nav-link w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">تأمين فردي </button>
                        </li>
                    </ul>
                    
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <p class="Big_label pt-3">اختر نوع التأمين</p>
                    <mat-form-field class="w-100 mt-1" appearance="fill" color="primary">
                        <mat-label>ادخل نوع التأمين</mat-label>
                        <mat-select  (selectionChange)="getSelectedInsurance($event)" [(value)]="insuraceTypeVal">
                        <mat-option *ngFor="let item of this.globalArr" [value]="item.id">{{item.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <button (click)="Next()" mat-raised-button color="primary" class="w-100 my-5 py-4">التالي</button>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>

          
        </div>
    </div>
</div>