.outer{
    border-radius: 0.9rem;
    background: var(--background, #FFF);
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.07);   
}
.nav-pills .nav-link {
    border-radius:1.5rem;
    padding: 1rem 0;
    border: 1px solid #334CAB;
}
.nav-item button{
    cursor: pointer!important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFF;
    background-color:#F37A2A;
    padding: 1rem 0;
    border-radius:1.5rem;
    border: 1px solid #F37A2A;
}
.w_47{
    width: 47%;
}
mat-label{
    font-size: 1.05rem;
    font-weight: 500;
    font-family: 'El Messiri', sans-serif!important;

}
input{
    font-size: 1.1rem!important;
    font-family: 'El Messiri', sans-serif!important;
}
.Big_label{
    color: var(--primary, #334CAB);
    font-size: 1.2rem;
    font-weight: 600;
    // padding-bottom: 0;
}
.mat-mdc-option{
    font-family: 'El Messiri', sans-serif!important;
}
.mat-mdc-select{
    font-family: 'El Messiri', sans-serif!important;
}