<div class="login-container">
    <div class="login-card">
        <h2>تسجيل الدخول</h2>
        <p>مرحبًا بك في افق منصة تعليميه متكافئة</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <label for="email">البريد الإلكتروني</label>
                <input formControlName="email" type="email" id="email" />
                <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="error">
                    بريد إلكتروني غير صالح
                </div>

            </div>

            <div class="form-field">
                <label for="password">الباسوورد </label>
                <input formControlName="password" type="password" id="password" />
                <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error">
                    كلمة المرور مطلوبة
                </div>
            </div>

            <div class="form-row-remember">
                <div class="checkbox-field">
                    <input type="checkbox" id="remember" formControlName="remember" />
                    <label for="remember">تذكر كلمة المرور</label>
                </div>
                <a routerLink="/forgetpassword" class="forgot-link">هل نسيت كلمة المرور؟</a>

            </div>

            <button type="submit" routerLink="/mainpage">تسجيل دخول</button>
        </form>
    </div>

    <div class="illustration">
        <img src="assets/imgs/sign up.jpg" alt="Login illustration" />
    </div>
</div>