<div class="section pt-4" style="background-color: white; height: 800px; position: relative;" dir="rtl">
    <div class="row" style="position: relative; ">
        <img src="../../../../assets/imgs/Tbia.png" style="height: 200px;">
        <p class="new text-white fs-4" style="position: absolute; right: 200px; top: 90px;"> وظائف</p>
        
    </div>
    <div class=" container">
        <h2 class="text pt-3">مسئول الشؤون الطبية</h2>
        <p class="text1">يتولى مسئول الشؤون الطبية تقديم الدعم للعميل في الخدمات الطبية لما بعد البيع والمتطلبات والاستفسارات، فهو يتولى التواصل عن قرب مع
            <br>فريق خدمة العملاء لضمان سرعة وفعالية حل ما يقابل العملاء من مسائل طبية بالإضافة إلى عمله على الحفاظ على علاقات وثيقة مع العملاء
            <br>وشركات التأمين ومقدمي الخدمات الطبية. 
        </p>
        <hr style="width: 75%;">
        <div class="row pt-2">
            <div class="col-md-6">
                <label class="text1">الأسم</label>
                <input class="form-control">
            </div>
            <div class="col-md-6">
                <label class="text1">رقم التليفون</label>
                <input class="form-control">
            </div>
        </div>
        <div class="row pt-2">
            <label class="text1  mt-3">البريد الألكتروني</label>
            <input class="form-control">
        </div>
        <div class="row pt-2" style="position: relative;">
            <label class="text1  mt-3"> السيرة الذاتية</label>
            <input class="form-control">
            <img src="../../../../assets/imgs/Uploading.svg" style="position: absolute; height: 50px; width: 50px; top: 35px; left: 0px;">
            <h2 class="file" style="position: absolute;  top: 55px; right: 850px;">no file choosen</h2>
        </div>
        <!-- <div class="row pt-2">
            <h2 class="text1">هل أنت وسيط مقيد لدى هيئة العامة للرقابة المالية؟ *</h2>
            <mat-radio-group aria-Q_Title="Select an option">
                <mat-radio-button >نعم</mat-radio-button>
                <mat-radio-button >لا</mat-radio-button>
            </mat-radio-group> 
        </div> -->
        <hr class="pt-4">
        <div class="row pt-2">
            <div class="col-md-4"></div>
            <div class="col-md-4"><img src="../../../../assets/imgs/ropot.png"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4"></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><button type="button" style="background-color: blue;border-radius: .8rem;" class="text-white w-75 mx-4 py-2">تقديم</button></div>
            <div class="col-md-4"></div>
        </div>
        <div class="py-2"></div>

    </div>

</div>