<section class="mt-5" id="home" dir="rtl">
    <a href="https://web.whatsapp.com/" target="_blank">
        <img  src="../../../../assets/imgs/Whatsapp.png" class="whatsAppIImg " style="width: 3.5%;">
    </a>
    <!-- Slider -->
    <div id="HomeSlider">
        <div id="ContactsBox">
            <ul class="SocialUl">
                <li class="SocialLi">
                    <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp text-white fs-3"></i></a>
                </li>
                <li class="mt-2">
                    <a href="https://www.facebook.com/profile.php?id=61555070528768" target="_blank"><i class="fa-brands fa-facebook text-white fs-4"></i></a>
                </li>
               <li class="mt-2">
                    <a href="https://www.tiktok.com/@alkaninsurancebrokerage" target="_blank"><i class="fa-brands fa-tiktok text-white fs-4"></i></a>
                </li>
                <li class="mt-2">
                    <a href="https://www.instagram.com/alkaninsurancebrokerage/" target="_blank"><i class="fa-brands fa-instagram text-white fs-4"></i></a>
                </li>
                <li class="mt-2">
                    <a href="https://www.linkedin.com/company/100058981/admin/feed/posts/" target="_blank"><i class="fa-brands fa-linkedin text-white fs-4"></i></a>
                </li>
                <li class="mt-2">
                    <a href="https://www.youtube.com/?app" target="_blank"><i class="fa-brands fa-youtube text-white fs-4"></i></a>
                </li>
                <!-- <li class="mt-2">
                    <a href="https://www.tiktok.com/@alkaninsurancebrokerage" target="_blank"><i class="fa-brands fa-tiktok text-white fs-4"></i></a>
                </li> -->
            </ul>
        </div>
        <div id="carouselExampleAutoplaying" class="carousel slide w-100" data-bs-ride="carousel" data-interval="1000">
            <div class="carousel-indicators" dir="ltr">
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active"
                    aria-current="true"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner">
                <!-- 1 -->
                <div class="carousel-item active">
                    <img src="../../../../assets/imgs/slid1.png" class="d-block w-100 carousel_item_Img" alt="...">
                    <div class="carousel-caption top-0 pt_custom">
                        <div class="caption">
                            <h5 class="caption">الحل التأميني المناسب لك 
                                <br> طبقا لطبيعة نشاطك واحتياجاتك ..
                            </h5>
                            <h5 class="caption1">شركة مرخصة لدي الهيئة العامة للرقابة المالية تحت رقم 99</h5>
                            <button class="btn OrderBtn py-2 px-4" routerLink="/SelectInsurances/companies">طلب عرض
                                تأمين </button>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="carousel-item">
                    <img src="../../../../assets/imgs/slid2.jpg" class="d-block w-100 carousel_item_Img" alt="...">
                    <div class="carousel-caption top-0 pt_custom">
                        <div class="caption">
                            <h5 class="caption">الحل التأميني المناسب لك 
                                <br> طبقا لطبيعة نشاطك واحتياجاتك ..
                            </h5>
                            <h5 class="caption1">شركة مرخصة لدي الهيئة العامة للرقابة المالية تحت رقم 99</h5>
                            <p class="LocalTitle">تأمين السيارات </p>
                            <p class="LocalTitleDetails w_75_custom">
                                <!-- ألكان للوساطة في التأمين يكمن دورها الحقيقي في توفير الحل التأميني المناسب للعميل
                                من خلال دراسة وتقيم الأخطار التي يتعرض لها وتحديد التغطيات المناسبة طبقا لطبيعة
                                نشاطه واحتياجاته -->
                                ألكان للوساطة في التأمين يكمن دورها الحقيقي في توفير الحل التأميني المناسب للعميل من خلال شركائها من شركات التأمين المختلفة التي تقوم بدراسة وتقيم الأخطار التي يتعرض لها العميل وتحديد التغطيات المناسبة طبقا لطبيعة نشاطه 

                            </p>
                            <button class="btn OrderBtn py-2 px-4" routerLink="/Cars/individual/13">طلب عرض تأمين
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 3 Medical -->
                <div class="carousel-item">
                    <img src="../../../../assets/imgs/slid3.png" class="d-block w-100 carousel_item_Img" alt="...">
                    <div class="carousel-caption top-0 pt_custom">
                        <div class="caption">
                            <h5 class="caption">الحل التأميني المناسب لك 
                                <br> طبقا لطبيعة نشاطك واحتياجاتك ..
                            </h5>
                            <h5 class="caption1">شركة مرخصة لدي الهيئة العامة للرقابة المالية تحت رقم 99</h5>

                            <p class="LocalTitle"> تأمين طبي </p>
                            <p class="LocalTitleDetails w_75_custom">
                                <!-- ألكان للوساطة في التأمين يكمن دورها الحقيقي في توفير الحل التأميني المناسب للعميل
                                من خلال دراسة وتقيم الأخطار التي يتعرض لها وتحديد التغطيات المناسبة طبقا لطبيعة
                                نشاطه واحتياجاته -->
                                ألكان للوساطة في التأمين يكمن دورها الحقيقي في توفير الحل التأميني المناسب للعميل من خلال شركائها من شركات التأمين المختلفة التي تقوم بدراسة وتقيم الأخطار التي يتعرض لها العميل وتحديد التغطيات المناسبة طبقا لطبيعة نشاطه 

                            </p>
                            <button class="btn OrderBtn py-2 px-4" routerLink="/LocalMedical/individual/15">طلب عرض
                                تأمين </button>
                        </div>
                    </div>
                </div>
                <!-- 4 تأمين سكني-->
                <div class="carousel-item">
                    <img src="../../../../assets/imgs/slid4.jpg" class="d-block w-100 carousel_item_Img" alt="...">
                    <div class="carousel-caption top-0 pt_custom">
                        <div class="caption">
                            <h5 class="caption">الحل التأميني المناسب لك 
                                <br> طبقا لطبيعة نشاطك واحتياجاتك ..
                            </h5>
                            <h5 class="caption1">شركة مرخصة لدي الهيئة العامة للرقابة المالية تحت رقم 99</h5>

                            <p class="LocalTitle">تأمين سكني</p>
                            <p class="LocalTitleDetails w_75_custom">
                                <!-- ألكان للوساطة في التأمين يكمن دورها الحقيقي في توفير الحل التأميني المناسب للعميل
                                من خلال دراسة وتقيم الأخطار التي يتعرض لها وتحديد التغطيات المناسبة طبقا لطبيعة
                                نشاطه واحتياجاته -->
                                ألكان للوساطة في التأمين يكمن دورها الحقيقي في توفير الحل التأميني المناسب للعميل من خلال شركائها من شركات التأمين المختلفة التي تقوم بدراسة وتقيم الأخطار التي يتعرض لها العميل وتحديد التغطيات المناسبة طبقا لطبيعة نشاطه 
                            </p>
                            <button class="btn px-4 OrderBtn" routerLink="/HomeProtection/individual/25">طلب عرض تأمين
                            </button>
                        </div>
                    </div>
                </div>


                <div class="child"></div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!--End Slider -->


    <!-- OurClients -->
    <div id="OurClents" class="carousel slide py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide w-100" data-bs-ride="carousel" data-interval="1000">
            <div class="carousel-inner someClients" style="width: 98%;margin: auto;">
                <!-- 1 -->
                <p class="text_gray text-center pt-3 LocalTitle">بعض عملاؤنا</p>
                <div class="carousel-item  ClientsHeight">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/25.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <!-- <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/1.png" class="w-100" alt="Egypt Gold">
                            </div> -->
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/2.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/3.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/4.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/5.png" class="w-100" alt="Egypt Gold">
                            </div>
                        </div>
                </div>
                <!-- 2 -->
                <div class="carousel-item active ClientsHeight">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/6.png" class="w-100" alt="EgyptGold">
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/7.png" class="w-75" alt="EgyptGold">
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/8.png" class="w-100" alt="EgyptGold">
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/9.png" class="w-50" alt="EgyptGold">
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/10.png" class="w-100" alt="EgyptGold">
                            </div>
                        </div>
                </div>
                <!-- 3 -->
                <div class="carousel-item ClientsHeight">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/11.png" class="w-75" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/12.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/13.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/14.png" class="w-75" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/15.png" class="w-75" alt="Egypt Gold">
                            </div>
                        </div>
                </div>
                <!-- 4 -->
                <div class="carousel-item  ClientsHeight">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/16.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/17.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/18.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/19.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/20.png" class="w-100" alt="Egypt Gold">
                            </div>
                        </div>
                </div>
                <!-- 5 -->
                <div class="carousel-item ClientsHeight">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/21.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/22.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/23.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-3 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/24.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/25.png" class="w-50" alt="Egypt Gold">
                            </div>
                        </div>
                </div>
                
            </div>
        </div>

      
        <!-- Swap -->
        <!-- <div class="someClients2 py-1" style="width: 98%;margin: auto;">
            <div class="d-flex mt-4 justify-content-center">
                <div class="outerArrow" data-bs-target="#OurClents" data-bs-slide="next">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="outerArrow" data-bs-target="#OurClents" data-bs-slide="prev">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
            </div>
        </div> -->
        
        
    </div>
    <!-- End Why Us -->

    <!-- Start Download Application -->
    <div id="DownloadApp">
        <div class="container-fluid">
            <div class="downloadApp py-4 px-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div>
                                <p class="big_title">حمل تطبيق”طمني” </p>
                                <p class="text-white py-3">الأن يمكنك الحصول على جميع المعلومات الخاصة بخططك <br>التأمينية
                                    وجميع خدمات الكان من خلال تطبيق واحد يتيح لك<br> جميع الخدمات التالية :</p>
                                <ul class="text-white">
                                    <li> اتصل بنا في أي وقت في اليوم</li>
                                    <li> اطلب التأمين الذي تحتاجه أثناء وجودك في المنزل</li>
                                    <li> المساعدة في حالات الطوارئ 24/7</li>
                                </ul>
                                <div class="row mt-5 px-5">
                                    <div class="col-6">
                                        <a href="" class="">
                                            <img src="../../../../assets/imgs/googlePlay.svg" class="w-75" alt="">
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="">
                                            <img src="../../../../assets/imgs/appStore.svg" class="w-75" alt="">
                                        </a>
                                    </div>
                                </div>
                                <p class="py-4" style="color: #BCBCBC;">هذا التطبيق حاصل علي موافقة الهيئة العامة للرقابة
                                    المالية بتاريخ 10/4/2022</p>
    
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-4">
                            <div class="appParent">
                                <img class="appChild1" src="../../../../assets/imgs/AlcanApp.png" alt="">
                                <img class="appChild2" src="../../../../assets/imgs/AlcanApp.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Download Application -->

    <!-- Start Why Us -->
    <div id="WhyUs" class="carousel slide pt-5">
        <div class="container">
            <div class="carousel-inner">
                <!-- 1 -->
                <div class="carousel-item active WhyUsHeight">
                    <p class="mid_title text_primary">لماذا نحن</p>
                    <p class="text_primary fs-6">لماذا ألكان للوساطه في التأمين؟</p>
                    <div class="row">
                        <div class="col-4">
                            <div class=" pt-3 mx-5 mt-1 aboutBoxItem">
                                <div class="d-flex justify-content-center py-3">
                                    <img src="../../../../assets/imgs/WhyUs/3.svg" class="w-25"
                                        style="position: relative;min-height: auto !important;" alt="">
                                </div>
                                <p class="px-3 fs-6 text-center text_primary py-4">
                                    لدينا خبرة واسعه في مجال الوساطة في التأمين  <br> وفريق محترف يتمتع بالخبرة <br>العميقة في الوساطة في التأمين .
                                </p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="aboutBoxItem pt-3 mx-5 mt-1">
                                <div class="d-flex justify-content-center py-3">
                                    <img src="../../../../assets/imgs/WhyUs/2.svg" class="w-25"
                                        style="position: relative;min-height: auto !important;" alt="">
                                </div>
                                <p class="px-3 fs-6 text-center text_primary py-4">
                                    نقدم حلول متخصصة ومبتكرة <br> تلبي احتياجات العملاء الفردية <br>والشركات.
                                </p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="aboutBoxItem pt-3 mx-5 mt-1">
                                <div class="d-flex justify-content-center py-3">
                                    <img src="../../../../assets/imgs/WhyUs/1.svg" class="w-25"
                                        style="position: relative;min-height: auto !important;" alt="">
                                </div>
                                <p class="px-3 fs-6 text-center text_primary py-4">
                                    نركز على  الجودة و المصداقية  في <br> تقديم خدماتنا، مع التركيز على <br>
                                    تجربة العملاء وتلبية توقعاتهم.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 2 -->
                <div class="carousel-item WhyUsHeight">
                    <p class="mid_title text_primary py-3">مهمتنا</p>
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-center">
                            <div class="border1">
                                <div class="d-flex py-2">
                                    <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:green "></i>
                                    <p class="fs-6 text_primary">مهمتنا هي تسويق المنتجات التأمينية والاستمرار في الترويج لحلول
                                        التأمين الواقية من المخاطر المستقبلية ، كل ذلك مع السعي لتحقيق الريادة في السوق.
                                    </p>
                                </div>
                                <div class="d-flex py-2">
                                    <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:green "></i>
                                    <p class="fs-6 text_primary">تتمثل مهمة ألكان للوساطة في التأمين في الاستفادة من معرفتها
                                        بالمخاطر وسوق التأمين في مساعدة عملائنا على حماية أصولهم وأعمالهم مع تزويدهم
                                        بأفضل صفقاتنا.</p>
                                </div>
                                <div class="d-flex py-2">
                                    <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:green "></i>
                                    <p class="fs-6 text_primary">تقديم حلول تأمينية لعملائنا شاملة وفعالة من حيث التكلفة.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-center ">
                            <img src="../../../../assets/imgs/mission.svg" class="w-50 WhyImg" alt="Mission">
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="carousel-item WhyUsHeight">
                    <p class="mid_title text_primary py-3">رؤيتنا</p>
                    <div class="row">
                        <div class="col-md-6 offset-md-1 d-flex align-items-center">
                            <div class="border1">
                                <!-- <div class="d-flex py-1">
                                    <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:green "></i>
                                    <p class="fs-6 text_primary"> تتمثل رؤيتنا فى جعل المستقبل مكانا أكثر أمانا</p>
                                </div> -->
                                <div class="d-flex py-1 pt-2">
                                    <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:green "></i>
                                    <p class="fs-6 text_primary"> تتمثل رؤيتنا فى جعل المستقبل مكانا أكثر أمانا</p>
                                </div>
                                <div class="d-flex py-1">
                                    <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:green "></i>
                                    <p class="fs-6 text_primary">تتمثل رؤيتنا في تثقيف وخدمة وحماية العائلات والشركات المحلية
                                        بأفضل السياسات التأمينية والأسعار المناسبة.</p>
                                </div>
                                <div class="d-flex py-1">
                                    <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:green "></i>
                                    <p class="fs-6 text_primary">نسعي للتميز في سوق الوساطة في التأمين  من خلال توفير الدعم والخدمة
                                        الأمثل لعملائنا.</p>
                                </div>
                                <div class="d-flex py-1">
                                    <i class="px-3 cir far fa-check-circle" style="font-size:24px;color:green "></i>
                                    <p class="fs-6 text_primary">تتمثل رؤيتنا في جذب أفضل الموظفين والوكلاء والاحتفاظ بهم
                                        لمساعدتنا على تحقيق رؤيتنا.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-center">
                            <img src="../../../../assets/imgs/vision.svg" class="w-75 WhyImg" alt="Vision">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swap -->
            <div class="d-flex justify-content-center">
                <div class="outerArrow" data-bs-target="#WhyUs" data-bs-slide="next">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="outerArrow" data-bs-target="#WhyUs" data-bs-slide="prev">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Us -->

    <!-- Start Our Services -->
    <div id="OurServices" class="py-5 mt-5">
        <div class="container">
            <div class="ourServices">
                <div class="row">
                    <div class="col-3">
                        <p class="mid_title text_primary mt-3">خدمتنا</p>
                    </div>
                    <div class="col-8">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item w_47 mx-2" role="presentation">
                                <button class="nav-link active w-100" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                    aria-selected="true">تأمين الشركات </button>
                            </li>
                            <li class="nav-item w_47" role="presentation">
                                <button class="nav-link w-100" id="pills-profile-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-profile" type="button" role="tab"
                                    aria-controls="pills-profile" aria-selected="false">تأمين فردي</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <!-- item 1 -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab" tabindex="0">

                        
                        <div id="carouselExampleAutoplaying1" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner py-4">
                                <!-- Slide 1 -->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="ServicesBox" routerLink="/Cars/companies/12">
                                                <div class="d-flex justify-content-center pt-4">
                                                    <img src="../../../../assets/imgs/Services/car.svg">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">تأمين سيارات التجارية
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="ServicesBox" routerLink="/LocalMedical/companies/12">
                                                <div class="d-flex justify-content-center pt-4">
                                                    <img src="../../../../assets/imgs/Services/medical.svg" alt="">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">تأمين طبي جماعي</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="ServicesBox" routerLink="/Life/companies/12">
                                                <div class="d-flex justify-content-center pt-4">
                                                    <img src="../../../../assets/imgs/Services/life.svg">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">تأمين الحياة</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide 2 -->
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="ServicesBox">
                                                <div class="d-flex justify-content-center pt-4" routerLink="/Properties/companies/12">
                                                    <img src="../../../../assets/imgs/Services/mine.svg">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">تأمين  ممتلكات
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="ServicesBox">
                                                <div class="d-flex justify-content-center pt-4" routerLink="/Entire/companies/12">
                                                    <img src="../../../../assets/imgs/Services/entire.svg">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">تأمين  تقـاعد</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="ServicesBox py-3">
                                                <div class="d-flex justify-content-center pt-4">
                                                    <i class="fa-solid fa-eye fs-2 py-3" routerLink="/SelectInsurances/companies"
                                                        style="color: #f37a2a;cursor: pointer;">
                                                    </i>
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">كل التأمينات</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Swap -->
                        <div class="d-flex justify-content-center mt-4">
                            <div class="outerArrow" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="next">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                            <div class="outerArrow" data-bs-target="#carouselExampleAutoplaying1" data-bs-slide="prev">
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>
                        </div>


                    </div>
                    <!-- item 2 -->
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                        tabindex="0">
                        <div id="carouselExampleAutoplaying2" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner py-3">
                                <!-- Slide 1 -->
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="ServicesBox" routerLink="/Cars/individual/12">
                                                <div class="d-flex justify-content-center pt-4">
                                                    <img src="../../../../assets/imgs/Services/car.svg" alt="">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">تأمين سيارات التجارية
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="ServicesBox" routerLink="/GlobalMedical/individual/12">
                                                <div class="d-flex justify-content-center pt-4">
                                                    <img src="../../../../assets/imgs/Services/medical.svg" alt="">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">تأمين طبي الدولي</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="ServicesBox" routerLink="/Life/individual/12">
                                                <div class="d-flex justify-content-center pt-4">
                                                    <img src="../../../../assets/imgs/Services/life.svg" alt="">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">تأمين الحياة</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide 2 -->
                                <div class="carousel-item py-4">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="ServicesBox" routerLink="/HomeProtection/individual/12">
                                                <div class="d-flex justify-content-center">
                                                    <img src="../../../../assets/imgs/Services/home.svg">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">تأمين سكني</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="ServicesBox" routerLink="/Money/individual/12">
                                                <div class="d-flex justify-content-center">
                                                    <img src="../../../../assets/imgs/Services/save.svg">
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">برامج الادخار</p>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="ServicesBox py-3">
                                                <div class="d-flex justify-content-center">
                                                    <i class="fa-solid fa-eye fs-2 py-3" routerLink="/SelectInsurances/individual"
                                                        style="color: #f37a2a;cursor: pointer;"></i>
                                                </div>
                                                <p class="px-3 fs-6 text-center text_primary py-4">كل التأمينات</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Swap -->
                        <div class="d-flex justify-content-center mt-4">
                            <div class="outerArrow" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="next">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                            <div class="outerArrow" data-bs-target="#carouselExampleAutoplaying2" data-bs-slide="prev">
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- End Our Services -->


    <!--Start Some Partenrs -->
    <div id="SomePartenrs" class=" my-3">
        <div id="carouselExampleAutoplaying" class="carousel slide w-100" data-bs-ride="carousel" data-interval="1000">
            <div class="carousel-inner someClients" style="width: 98%;margin: auto;">
                <!-- 1 -->
                <p class="text_gray text-center pt-3 LocalTitle"> شركائنا</p>
                <div class="carousel-item  active ClientsHeight">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/1.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <!-- <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/SomeClients/1.png" class="w-100" alt="Egypt Gold">
                            </div> -->
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/4.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/3.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/5.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/2.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/royal.png" class="w-100" alt="Egypt Gold">
                            </div>
                        </div>
                </div>
                <!-- 2 -->
                <div class="carousel-item  ClientsHeight">
                    <div class="row">
                        <div class="col-2 d-flex align-items-center">
                            <img src="../../../../assets/imgs/Partenrs/1.png" class="w-100" alt="Egypt Gold">
                        </div>
                        <!-- <div class="col-2 d-flex align-items-center">
                            <img src="../../../../assets/imgs/SomeClients/1.png" class="w-100" alt="Egypt Gold">
                        </div> -->
                        <div class="col-2 d-flex align-items-center">
                            <img src="../../../../assets/imgs/Partenrs/4.png" class="w-100" alt="Egypt Gold">
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <img src="../../../../assets/imgs/Partenrs/3.png" class="w-100" alt="Egypt Gold">
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <img src="../../../../assets/imgs/Partenrs/5.png" class="w-50" alt="Egypt Gold">
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <img src="../../../../assets/imgs/Partenrs/2.png" class="w-100" alt="Egypt Gold">
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <img src="../../../../assets/imgs/Partenrs/royal.png" class="w-100" alt="Egypt Gold">
                        </div>
                    </div>
            </div>
                <!-- <div class="carousel-item  ClientsHeight">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/6.png" class="w-100" alt="EgyptGold">
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/7.png" class="w-75" alt="EgyptGold">
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/8.png" class="w-100" alt="EgyptGold">
                            </div>
                            <div class="col-3 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/9.png" class="w-50" alt="EgyptGold">
                            </div>
                            <div class="col-2 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/SomeClients/10.png" class="w-100" alt="EgyptGold">
                            </div>
                        </div>
                </div> -->    
            </div>
        </div>

        <!-- <div class="container-fluid">
            <div class="somePartenrs py-3">
                <p class="text_gray text-center py-2 LocalTitle"> شركائنا</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/1.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/4.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/3.png" class="w-100" alt="Egypt Gold">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-center">
                                <img src="../../../../assets/imgs/Partenrs/5.png" class="w-50" alt="Egypt Gold">
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/2.png" class="w-100" alt="Egypt Gold">
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <img src="../../../../assets/imgs/Partenrs/royal.png" class="w-100" alt="Egypt Gold">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div> -->
    </div>
    <!-- End Some Partenrs -->

    <!-- Start  Opinion -->
    <div id="Opinion">
        <div class="container">
            <p class="text_gray text-center py-2 LocalTitle">رأي عملأنا</p>
            <div id="carouselExampleAutoplaying3" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner py-3">
                    <!-- Slide 1 -->
                    <div class="carousel-item active">
                        <div class="opinionBox p-5 w-75 m-auto">
                            <p class="opinionTitle text-center">Lorem ipsum dolor sit amet consectetur. Velit vel odio
                                <br> proin libero vitae.</p>
                            <div class="opinionFooter pt-5 d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../assets/imgs/star.svg" alt="star">
                                    <img src="../../../../assets/imgs/star.svg" alt="star" class="mx-1">
                                    <img src="../../../../assets/imgs/star.svg" alt="star">
                                    <img src="../../../../assets/imgs/star.svg" alt="star" class="mx-1">
                                    <img src="../../../../assets/imgs/star.svg" alt="star">
                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="opinionPerson">Magdy Elmahdy</p>
                                    <img src="../../../../assets/imgs/man.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div class="carousel-item py-4">
                        <div class="opinionBox p-5 w-75 m-auto">
                            <p class="opinionTitle text-center">It is very fantastic Company <br> That we Treated With.
                            </p>
                            <div class="opinionFooter pt-5 d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../assets/imgs/disabledStar.svg" alt="star">
                                    <img src="../../../../assets/imgs/star.svg" alt="star" class="mx-1">
                                    <img src="../../../../assets/imgs/star.svg" alt="star">
                                    <img src="../../../../assets/imgs/star.svg" alt="star" class="mx-1">
                                    <img src="../../../../assets/imgs/star.svg" alt="star">
                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="opinionPerson">Amr Rizk</p>
                                    <img src="../../../../assets/imgs/man.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Slide 3 -->
                    <div class="carousel-item py-4">
                        <div class="opinionBox p-5 w-75 m-auto">
                            <p class="opinionTitle text-center">It is very fantastic Company <br> That we Treated With.
                            </p>
                            <div class="opinionFooter pt-5 d-flex justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="../../../../assets/imgs/disabledStar.svg" alt="star">
                                    <img src="../../../../assets/imgs/disabledStar.svg" alt="star" class="mx-1">
                                    <img src="../../../../assets/imgs/star.svg" alt="star">
                                    <img src="../../../../assets/imgs/star.svg" alt="star" class="mx-1">
                                    <img src="../../../../assets/imgs/star.svg" alt="star">
                                </div>
                                <div class="d-flex align-items-center">
                                    <p class="opinionPerson">Salma Saad</p>
                                    <img src="../../../../assets/imgs/man.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Swap -->
            <div class="d-flex justify-content-center my-5">
                <div class="outerArrow" data-bs-target="#carouselExampleAutoplaying3" data-bs-slide="next">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
                <div class="outerArrow" data-bs-target="#carouselExampleAutoplaying3" data-bs-slide="prev">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- End  Opinion -->




</section>