#pleaces-of-treatment{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    min-height:90vh;
    background-color: #f0f4f9;
    background-image: url(../../../../../assets/imgs/bg_2.png);
    background-position: center center;
}
.boxTitle{
    font-size:1.1rem!important;
    font-weight: 500;
    text-align: center;
}
.fa-eye{
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
  }
  .fa-eye:hover{
    background-color:green!important;
    color:#FFF!important;
  }
.Out{
  position: relative;
}
.viewIcon{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)
}