<section id="cars" class="py-5" dir="rtl">
    <div class="container pt-5">
        <div class="row d-flex align-items-center ">
            <div class="col-md-7 ">
                <!-- Indiviual Or Companies -->
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item w_47 mx-2" role="presentation">
                        <button (click)="getInsuranceType('companies')" [class.active]="this.type=='companies'" class="nav-link  w-100" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">تأمين الشركات </button>
                    </li>
                    <li class="nav-item w_47" role="presentation">
                        <button (click)="getInsuranceType('individual')" [class.active]="this.type=='individual'" class="nav-link w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">تأمين فردي </button>
                    </li>
                </ul>

                <div class="outer py-3">
                    <div class="container">
                        <!-- companies -->
                        <div class="row my-2 px-4 companies" style="display: none;">
                            <p class="check-app py-3">تأمين السيارات التجارية </p>
                            <div class="my-2">
                                <label class="px-2 py-1">الاسـم</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">رقم الهاتف</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">البريد الالكتروني</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1"> موعد المكالمه المفضل لديك </label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">رمز ترويجي</label>
                                <input type="text" class="form-control">
                            </div>

                            <button class="w-75 m-auto py-4 mt-3"  mat-raised-button color="primary">ارسـل</button>
                            <button class="m-auto mt-3 py-4"  mat-stroked-button color="primary" style="width: 65%;border-color:#334CAB;">اتصل بنا </button>
                        </div>
                        <!-- Indiviual -->
                        <div class="row my-2 px-4 Indiviual" style="display: none;">
                            <p class="check-app py-3">تأمين سيارة</p>
                            <form [formGroup]='AddCarForm'>
                                <div class="my-2">
                                    <label class="px-2 py-1">ماركة السيارة</label>
                                    <select (change)="getCarBrand($event.target)" formControlName="brand" class="form-select" aria-label="Default select example">
                                        <option selected>اختر</option>
                                        <option *ngFor="let Brand of AllBrands" value="{{Brand.brandName}}">{{Brand.brandName}}</option>
                                    </select>
                                </div>
                                <div class="my-2">
                                    <label class="px-2 py-1">الموديل</label>
                                    <select formControlName="model" (change)="getcarModel($event)" class="form-select" aria-label="Default select example">
                                        <option selected>اختر</option>
                                        <option *ngFor="let Model of carModels" value="{{Model.modelName}}" value="1">{{Model.modelName}}</option>
                                    </select>
                                </div>
                                <div class="my-2">
                                    <label class="px-2 py-1">سنه الصناعه</label>
                                    <select formControlName="manufacturingYear" (change)="getcarManfacturingYear($event)" class="form-select" aria-label="Default select example">
                                        <option selected >اختر</option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                        <option value="2013">2013</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                                </div>
                                <div class="my-2">
                                    <label class="px-2 py-1">سعر السياره</label>
                                    <input formControlName="carPrice" type="number" class="form-control">
                                </div>
                                <div class="my-2">
                                    <label class="px-2 py-1">عمر سائق السيارة</label>
                                    <input type="number" class="form-control">
                                </div>
                                <div class="my-2">
                                    <label class="px-2 py-1">رمز ترويجي</label> 
                                    <input type="text" class="form-control"placeholder="ادخل النوع">
                                </div>
                            </form>
                            

                            <button [disabled]="this.loading" (click)="SubmitAddCar()" class="w-75 m-auto py-4 mt-3"  mat-raised-button color="primary">مقارنه</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image companies-->
            <div class="col-md-5">
                <img src="../../../../assets/imgs/insurances/cars.png" class="w-100">
                 <div class="OtherInsuranceDetails p-1">
                     {{this.insuranceDescription}}
                 </div>
            </div>
        </div>
    </div>
</section>