<div class="pt-5">
    <div class="container" dir="rtl" style="position: relative;">
        <h2 class="text">تفاصيل البطاقة</h2>
        <div class="row" >
            <div class="name">
                <h2 class="text1">اسم حامل البطاقة</h2>
                <input class="form-control" type="text" placeholder="اسم حامل البطاقة">
            </div>
            <div class="number mt-3">
                <h2 class="text1">رقم البطاقة</h2>
                <input class="form-control" type="number">
            </div>
            <div class="col-6 mt-3">
                <h2 class="text1"> رمز الأمن</h2>
                <input class="form-control" type="text" placeholder="CCV">
            </div>
            <div class="col-6 mt-3">
                <h2 class="text1">تاريخ الأنتهاء</h2>
                <input class="form-control" type="date">
            </div>
    
            <button routerLink="/OurService" class="btn forgot text-white w-75" style="position: absolute;">إدفع</button>
    
        </div>
    </div>
</div>