<div id="proplems" dir="rtl">
    <div class="container1 pt-5">
        <div class="row">
            <img src="../../../../assets/imgs/Rectangle 14.png" style="height: 200px;">
            <p class="new text-white fs-4" style="position: absolute; right: 200px; top: 90px;">تقديم الشكاوي</p>

        </div>
        <div class="container my-5 pg-primary">
            <div class="outerBorder">
                <h2 class="text mt-4">يمكنك تقديم الشكاوي بأستخدام أي من الطرق التالية :</h2>
                <h2 class="text" style="font-size: 1rem;">يمكنك تقديم الشكاوي عن طريق قنوات الاتصال التالية<br>السيستم يستقبل الشكاوي من خلال الأرقام الأرضية للشركة <a href="tel:+20 25065757">25065757  (20+)</a>- <a href="tel:+20 25065767"> 25065767 (20+)</a><br>يتم تلقي الشكاوي عبر البريد الإلكتروني :<a href="mailto:complains@alkan-insbrok.com" target="_blank">complains@alkan-insbrok.com</a><br>أو عن طريق الاتصال بالرقم التالي <a href="tel: 010322222304">010322222304</a>- <a href="tel:01017555539">01017555539</a> -<a href="tel:01029333306">01029333306</a>  <br>يحق للعميل تقديم شكوى الى الهيئة العامة للرقابة المالية (FRA)في حال عدم تلقيه حل مرضي<a href="https://complaints.fra.gov.eg/fra/r/fra_complaints/fra_complaints/home-page?session=7096495648626" >https://Complaints.fra.gov.eg</a></h2>
            </div>

        </div>
    </div>
</div>