<div id="payment-detials" class="pt-5" dir="rtl" >
    <div class="container py-5">
        <div class="outerBorder shadow_5 ">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                <p class="head_1 py-3">تفاصيــل الدفــع </p>
                    <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                        <mat-label>اسمــــك ..</mat-label>
                        <input type="text" matInput>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field  class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                        <mat-label>رقم البطاقة ..</mat-label>
                        <input type="text" matInput>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> credit_card</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <mat-label>تاريــخ الانتهــاء</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                      <button class="my-2 w-50" mat-raised-button color="primary">ادفــع <mat-icon> attach_money</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>