<div id="signUP" class="mt-5 pt-5">
  <Div class="container">
    <div class="BG">
      
    <h2 class="text"> تسجيل دخول</h2>
    <form [formGroup]="loginForm">
      <div class="row">
        <label class="text1" style="display:block;">اسم المستخدم</label>
        <input formControlName="user" type="text" class="form-control" dir="rtl">
      </div>
      <div class="row">
        <label class="text1"style="display:block;">كلمة المرور</label>
        <input formControlName="phoneNumber" type="number" class="form-control" dir="rtl">
        <h2 class="text2" routerLink="/ForgetPassword"> نسيت كلمة المرور؟</h2>
      </div>
    </form>
    <div class="d-flex justify-content-center">
      <button (click)="submitLoginForm()" [disabled]="this.loginForm.status=='INVALID'||this.isClicked" class=" w-75" mat-raised-button color="primary">تسجيل دخول</button>
    </div>

    <p class="text_new mt-4">ليس لديك حساب؟ </p>
    <p class="text_new new" routerLink="/signUp"> انشاء حساب جديد</p>
      <!-- verification -->
    <div style="display: none;" id="verification" class="p-4">
      <div class="my-3">
        <p class="check-app text-center"> مـــن فضلك ادخــل رقــم تحقيــق الهـاتف</p>
      </div>
        <div class=" d-flex justify-content-center">
          <input type="number" class="form-control">
          <input type="number" class="form-control">
          <input type="number" class="form-control">
          <input type="number" class="form-control">
        </div>
        <div class=" text-center my-4">
          <button (click)="submitVerificationCode()" mat-raised-button color="primary" class=" text-center">استمــرار</button>
        </div>
    </div>
    </div>
      
  </Div>
</div>



