<div class="pt-5">
    <div class="container" dir="rtl">
        <h2 class="text">الحساب الشخصي </h2>
        <div class="section1">
            <div class="row">
                <img class="Photo" src="../../../../assets/imgs/Photo 15.svg">
                <h2 class="name">احمد الحسيني</h2>
                <h2 class="details">القاهرة , مصر </h2>
                <button class="btn butto" routerLink="/MainAccount">تعديل</button>
                <img src="../../../../assets/imgs/change.svg" style="width: 40px;height: 40px;position: absolute; left: 10px;top: 5px;">
            </div>
        </div>
        <div class="section2 mt-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <!-- <h2 class="name" style="position: absolute; right: 5%;"> الاسم الأول </h2>
                        <h2 class="details" style="position: absolute; right: 5%;">احمد</h2> -->
                        <h2 class="text4"> الاسم الأول</h2>
                        <h2 class="text4s">احمد</h2>
                    </div>
                    <div class="col-md-3">
                        <h2 class="name" style="position: absolute; right: 40%;">  الاسم الاخير  </h2>
                        <h2 class="details" style="position: absolute; right: 40%;">الحسيني</h2>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        <h2 class="text2">البريد الألكتروني</h2>
                        <h2 class="text2s">ahmedelhussieny</h2>
                    </div>
                    <div class="col-md-3">
                        <h2 class="text2" style="position: absolute;right: 40%;"> رقم الموبيل</h2>
                        <h2 class="text2s" style="position: absolute;right: 40%;">015121414131</h2>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <button class="btn butto" routerLink="/MainAccount">تعديل</button>
                <img src="../../../../assets/imgs/change.svg" style="width: 40px;height: 40px;position: absolute; left: 10px;top: 5px;">
            </div>
        </div>
        <div class="section3 mt-3">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="text3">البلد</h2>
                    <h2 class="text3s">مصر</h2>
                </div>
                <div class="col-md-3">
                    <h2 class="text3" style="position: absolute; right: 40%;">المحافظة</h2>
                    <h2 class="text3s" style="position: absolute; right: 40%;">القاهرة</h2>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <h2 class="jop">الوظيفة</h2>
                    <h2 class="acco">محاسب</h2>
                </div>
                <div class="col-md-3">
                    <h2 class="jop" style="position: absolute; right: 40%;">نوع التأمين</h2>
                    <h2 class="acco" style="position: absolute; right: 40%;">تأمين سكني</h2>
                </div>
                <div class="col-md-6"></div>
                <button class="btn butto" routerLink="/MainAccount">تعديل</button>
                <img src="../../../../assets/imgs/change.svg" style="width: 40px;height: 40px;position: absolute; left: 10px;top: 5px;">
            </div>
        </div>
        <div class="section2 mt-3">
            <div class="row" style="padding-right: 25px;">
                <div class="col-md-6" style="position: relative; padding-right: 10px;">
                    <h2 class="text-1 mt-2">صورة من البطاقة الشخصية</h2>
                    <input class="form-control" type="text">
                    <img class="upload" style="height: 20px;width: 20px; position: absolute; top: 50px; right: 90%;" src="../../../../assets/imgs/Uploading.svg">
                    <img class="camera" style="height: 20px;width: 20px; position: absolute; top: 50px; right: 83%;" src="../../../../assets/imgs/Camera.svg">
                </div>
                <div class="col-6"></div>
            </div>
        </div>
        <div class="section3 mt-3" style="padding-right: 25px;">
            <h2 class="text-1" style="padding-right: 20px; padding-top: 10px; font-size: .8rem;">في حالة انك ليس مصري الجنسية يرجى رفع الباسبور الشخصي و الإقامة</h2>
            <div class="row">
                <div class="row">
                    <div class="col-md-6" style="position: relative;">
                        <h2 class="text-1 mt-2">الباسبور الشخصي</h2>
                        <input class="form-control" type="text">
                        <img class="upload" style="height: 20px;width: 20px; position: absolute; top: 50px; right: 90%;" src="../../../../assets/imgs/Uploading.svg">
                        <img class="camera" style="height: 20px;width: 20px; position: absolute; top: 50px; right: 83%;" src="../../../../assets/imgs/Camera.svg">
                    </div>
                    <div class="col-md-6" style="position: relative;">
                        <h2 class="text-1 mt-2">الإقامة</h2>
                        <input class="form-control" type="text">
                        <img class="upload" style="height: 20px;width: 20px; position: absolute; top: 50px; right: 90%;" src="../../../../assets/imgs/Uploading.svg">
                        <img class="camera" style="height: 20px;width: 20px; position: absolute; top: 50px; right: 83%;" src="../../../../assets/imgs/Camera.svg">
                    </div>
                </div>
    
            </div>
        </div>
    
    </div>
</div>