<div id="contact_us" dir="rtl">
    <div class="container-fluid">
        <h2 class="text">تواصل معنا</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-7" style="background-color:#F6F8FD;">
                    <div class="row">
                        <div class=" col-md-12" >
                            <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in" style="padding-top: .8rem;">
                                    <mat-label class="label">الاسم الاول</mat-label>
                                    <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                                <mat-form-field class="w-100"  appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                                    <mat-label class="label">رقم الهاتف</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                        </div>
                        <div class="col-md-6">
                                <mat-form-field class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                                    <mat-label class="label">البريد الألكتروني</mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field  class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                                <mat-label class="label">موعد المكالمة المفضل لديك</mat-label>
                                <input type="text" matInput>
                                <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);">alarm</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field  class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                                <mat-label class="label">الرسالة<br><small class="label" style="font-size: .7rem; ">اكتب رسالتك</small></mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5rem; padding-left: 2rem;">
                        <div class="col-md-9"></div>
                        <div class="col-md-2">
                            <button class="btn butoo px-5 py-2 text-white " type="button"> ارســل</button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="row py-5"></div>
                    <div class="row py-4"></div>
                </div>
                <div class="col-md-5">
                    <h2 class="mt-4" style="font-size: 1.1rem; padding-right: 2rem;">معلومات الاتصال</h2>
                    <div class="row" style="padding-right: 2rem;">
                        <div class="col-md-1 d-flex justify-content-center align-items-center">
                            <mat-icon class="px-4" matIconSuffix style="color: black">phone</mat-icon>
                        </div>
                        <div class="col-md-11" style=" text-align: end;" dir="ltr">
                            <h2 class="number"><a href="tel:+20 25065767">(+20) 25065767</a>-<a href="tel:+20 25065757">(+20) 25065757</a><br><a href="tel:01029333306">01029333306</a>-<a href="tel:01017555539">01017555539</a>-<a href="tel:01032222304">01032222304</a></h2>
                        </div>
                    </div>
                    <div class="row mt-1" style="padding-right: 1rem;">
                        <div class="col-md-1">
                            <mat-icon matIconSuffix style="color: black">alarm</mat-icon>
                        </div>
                        <div class="col-md-11">
                            <h2 style="font-size: 1rem; text-align:right; padding-right: 1rem;">مواعيد العمل من 9 صباحآ حتى 5 مساء  </h2>
                        </div>
                    </div>
                    <div class="row mt-1" style="padding-right: 1rem;">
                        <div class="col-md-1">
                            <mat-icon matIconSuffix style="color: black">mail</mat-icon>
                        </div>
                        <div class="col-md-11" style=" text-align: end;" dir="ltr">
                            <h2 style="font-size: .9rem; padding-right: 1rem;"><a href="mailto:alkaninsbrok@alkan.com">alkaninsbrok@alkan.com</a></h2>
                        </div>
                    </div>
                    <div class="row mt-1" style="padding-right: 1rem;">
                        <div class="col-md-1">
                            <mat-icon matIconSuffix style="color: black">location_on</mat-icon>
                        </div>
                        <div class="col-md-11" style=" text-align: right;">
                            <h2 style="font-size: 1rem; line-height: normal;">العنوان:المبنى الإداري (T2) الوحدة الإدارية رقم <br>(70.05.T2 )الدور السابع سيتادل بلازا- أول الطريق <br>الصاعد للمقطم بطريق الأوتوستراد –القاهرة</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11" style="padding-right: 2rem;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d55279.66127597262!2d31.280227061478335!3d30.008764261865007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z2KfZhNi52YbZiNin2YY62KfZhNmF2KjZhtmJINin2YTYpdiv2KfYsdmKIChUMikg2KfZhNmI2K3Yr9ipINin2YTYpdiv2KfYsdmK2Kkg2LHZgtmFICg3MC4wNS5UMiAp2KfZhNiv2YjYsSDYp9mE2LPYp9io2Lkg2LPZitiq2KfYr9mEINio2YTYp9iy2KctINij2YjZhCDYp9mE2LfYsdmK2YIg2KfZhNi12KfYudivINmE2YTZhdmC2LfZhSDYqNi32LHZitmCINin2YTYo9mI2KrZiNiz2KrYsdin2K8g4oCT2KfZhNmC2KfZh9ix2Kk!5e0!3m2!1sen!2seg!4v1707309743205!5m2!1sen!2seg" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  class="w-100 "></iframe>
                            <div class="d-flex justify-content-end">
                                <a href="https://www.facebook.com/profile.php?id=61555070528768" target="_blank">
                                    <img src="../../../../assets/imgs/Sochial/facebook.svg" alt="" class="px-1">
                                </a>
                                <a href="https://www.youtube.com/?app" target="_blank">
                                    <img src="../../../../assets/imgs/Sochial/youtube.svg" alt="" class="px-1">
                                </a>
                                <a href="https://www.linkedin.com/company/100058981/admin/feed/posts/" target="_blank">
                                    <img src="../../../../assets/imgs/Sochial/linkedin.svg" alt="" class="px-1">
                                </a>
                                <a href="https://www.instagram.com/alkaninsurancebrokerage/" target="_blank">
                                    <img src="../../../../assets/imgs/Sochial/instagram.svg" alt="" class="px-1">
                                </a>
                                <a href="https://twitter.com/" target="_blank">
                                    <img src="../../../../assets/imgs/Sochial/twitter.svg" alt="" class="px-1">
                                </a>
                                <a href="https://web.whatsapp.com/" target="_blank">
                                    <img src="../../../../assets/imgs/Sochial/Whatsapp.jpg" alt=""class="px-1">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <section  dir="rtl">
    <div class="row mt-5">
        <h2 class="text">تواصل معنا</h2>
        </div> 
        <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="container1">
                            <mat-form-field style="padding-right: 20px;padding-left: 20px; margin-bottom: -1.05em!important" class="w-100 mt-5" appearance="outline" color="primary" data-aos-duration="700" data-aos="zoom-in">
                                <mat-label class="label">الاسم الاول</mat-label>
                                <input type="text" matInput>
                            </mat-form-field>
                            <div class="row">
                                <div class="col-md-6 mt-2">
                                    <mat-form-field style="padding-right: 20px; margin-bottom: -1.05em!important" class="w-100" appearance="outline" color="primary" data-aos-duration="700" data-aos="zoom-in">
                                        <mat-label class="label">رقم الهاتف</mat-label>
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <mat-form-field style="padding-left: 20px; margin-bottom: -1.05em!important" class="w-100" appearance="outline" color="primary" data-aos-duration="700" data-aos="zoom-in">
                                        <mat-label class="label">البريد الألكتروني</mat-label>
                                        <input type="text" matInput>
                                    </mat-form-field>
                                </div>
                                <mat-form-field style="padding-right: 30px;padding-left: 30px; margin-bottom: -1.05em!important" class="w-100 mt-2" appearance="outline" color="primary" data-aos-duration="700" data-aos="zoom-in">
                                    <mat-label class="label">موعد المكالمة المفضل لديك</mat-label>
                                    <input type="text" matInput>
                                    <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);">alarm</mat-icon>
                                </mat-form-field>
                                <mat-form-field style="padding-right: 30px;padding-left: 30px; margin-bottom: -1.05em!important" class="w-100 mt-2" appearance="outline" color="primary" data-aos-duration="700" data-aos="zoom-in">
                                    <mat-label class="label">الرسالة<br><small style="font-size: .5rem;">اكتب رسالتك</small></mat-label>
                                    <input type="text" matInput>
                                </mat-form-field>
                                <div class="row py-5">
                                    <div class="col-md-9"></div>
                                    <div class="col-md-2">
                                        <button class="btn butoo px-5 text-white" type="button"> ارســال</button>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row py-5"></div>
                                <div class="row py-4"></div>
                            

                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div><h3 class="mt-4" style="font-size: 1.2rem;">معلومات الاتصال</h3></div>
                        <div class="row">
                            <div class="col-md-1">
                                <mat-icon matIconSuffix style="color: black">phone</mat-icon>
                            </div>
                            <div class="col-md-11" style=" text-align: end;" dir="ltr">
                                <h2 class="label px-2" style="font-size: .7rem;">(+20) 25065767   (+20) 25065757<br>010 29 3333 06  010 17 5555 39  010 32 222304</h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-1">
                                <mat-icon matIconSuffix style="color: black">alarm</mat-icon>
                            </div>
                            <div class="col-md-11">
                                <h2 class="label  px-2" style="font-size: .7rem; text-align:right;">مواعيد العمل من 9 صباحآ حتى 5 مساء  </h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-1">
                                <mat-icon matIconSuffix style="color: black">mail</mat-icon>
                            </div>
                            <div class="col-md-11" style=" text-align: end;" dir="ltr">
                                <h2 class="label px-2" style="font-size: .7rem;">alkaninsbrok@alkan.com</h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-1">
                                <mat-icon matIconSuffix style="color: black">location_on</mat-icon>
                            </div>
                            <div class="col-md-11" style=" text-align: right;">
                                <h2 class="text px-2" style="font-size: .7rem;">العنوان:المبنى الإداري (T2) الوحدة الإدارية رقم (70.05.T2 )الدور السابع سيتادل بلازا- أول الطريق الصاعد للمقطم بطريق الأوتوستراد –القاهرة</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d55279.66127597262!2d31.280227061478335!3d30.008764261865007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z2KfZhNi52YbZiNin2YY62KfZhNmF2KjZhtmJINin2YTYpdiv2KfYsdmKIChUMikg2KfZhNmI2K3Yr9ipINin2YTYpdiv2KfYsdmK2Kkg2LHZgtmFICg3MC4wNS5UMiAp2KfZhNiv2YjYsSDYp9mE2LPYp9io2Lkg2LPZitiq2KfYr9mEINio2YTYp9iy2KctINij2YjZhCDYp9mE2LfYsdmK2YIg2KfZhNi12KfYudivINmE2YTZhdmC2LfZhSDYqNi32LHZitmCINin2YTYo9mI2KrZiNiz2KrYsdin2K8g4oCT2KfZhNmC2KfZh9ix2Kk!5e0!3m2!1sen!2seg!4v1707309743205!5m2!1sen!2seg" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  class="w-100 py-2"></iframe>
                                <div class="d-flex justify-content-end">
                                    <img src="../../../../assets/imgs/Sochial/facebook.svg" alt="" class="px-1">
                                    <img src="../../../../assets/imgs/Sochial/youtube.svg" alt="" class="px-1">
                                    <img src="../../../../assets/imgs/Sochial/linkedin.svg" alt="" class="px-1">
                                    <img src="../../../../assets/imgs/Sochial/instagram.svg" alt="" class="px-1">
                                    <img src="../../../../assets/imgs/Sochial/twitter.svg" alt="" class="px-1">
                                    <img src="../../../../assets/imgs/Sochial/Whatsapp.jpg" alt=""class="px-1">
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        </div>
</section> -->

  <!-- <section id="contact_us" class="py-5" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="outerBorder shadow_5">
                    <p class="head_1 py-3">الشكاوي</p>
                    <div class="d-flex py-2" data-aos="zoom-in" data-aos-duration="700">
                        <div class="mx-1">
                            <img src="../../../../assets/imgs/pin.png" alt="">
                        </div>
                        <p class="check-app">يتم تلقي كافة الشكاوى من قبل فريق العمل لدينا، حيث يتم فحص شكوى العميل، وجمع المستندات، والتواصل مع شركة التأمين نيابة عن العميل لتقديم شكواه</p>
                    </div>
                    <div class="d-flex py-2" data-aos="zoom-in" data-aos-duration="700">
                        <div class="mx-1">
                            <img src="../../../../assets/imgs/pin.png" alt="">
                        </div>
                        <p class="check-app">يتم تلقي الشكاوي عبر البريد الإلكتروني :<br> mohamed.shabaan@alkan.com <br>
                            أو عن طريق الاتصال بالرقم التالي :<br>
                            01050829098 (20+)</p>
                    </div>
                    <div class="d-flex py-2" data-aos="zoom-in" data-aos-duration="700">
                        <div class="mx-1">
                            <img src="../../../../assets/imgs/pin.png" alt="">
                        </div>
                        <p class="check-app">يحق للعميل تقديم شكوى الى الهيئة العامة للرقابة المالية (FRA)في حال عدم تلقيه حلا مرضيا</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="outerBorder shadow_5">
                    <p class="head_1 py-3">تواصل معنا</p>
                    <div class="d-flex py-2" data-aos="zoom-in" data-aos-duration="700">
                        <div class="mx-1">
                            <img src="../../../../assets/imgs/pin.png" alt="">
                        </div>
                        <p class="check-app">البريد الالكتروني: <br><a href="alkaninsbrok@alkan.com">alkaninsbrok@alkan.com</a></p>
                    </div>
                    <div class="d-flex py-2" data-aos="zoom-in" data-aos-duration="700">
                        <div class="mx-1">
                            <img src="../../../../assets/imgs/pin.png" alt="">
                        </div>
                        <p class="check-app">التليفون: <br> 25065767 (202+) <br> 25065757 (202+)</p>
                    </div>
                    <div class="d-flex py-2" data-aos="zoom-in" data-aos-duration="700">
                        <div class="mx-1">
                            <img src="../../../../assets/imgs/pin.png" alt="">
                        </div>
                        <p class="check-app">مواعيد العمل : <br> الأحد – الخميس 8:30 ص – 4:30 م</p>
                    </div>
                    <div class="d-flex py-2" data-aos="zoom-in" data-aos-duration="700">
                        <div class="mx-1">
                            <img src="../../../../assets/imgs/pin.png" alt="">
                        </div>
                        <p class="check-app">العنوان: <br> المبنى الإداري (T2) الوحدة الإدارية رقم (70.05.T2 )الدور السابع سيتادل بلازا- أول الطريق الصاعد للمقطم بطريق الأوتوستراد –القاهرة

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="outerBorder shadow_5">
                    <p class="head_1 py-3">ارسل لنا رسالة</p>
                    <p class="check-app">تواصل معنا من خلال هذا النموذج وسنرد عليك قريباً.</p>
                    <mat-form-field style="margin-bottom: -1.05em!important" class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                        <mat-label>اسمــــك ..</mat-label>
                        <input type="text" matInput>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field style="margin-bottom: -1.05em!important" class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                        <mat-label>بريدك الالكتروني ..</mat-label>
                        <input type="text" matInput>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);">email</mat-icon>
                    </mat-form-field>
                    <mat-form-field style="margin-bottom: -1.05em!important" class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                        <mat-label>رقـم التليفـون ..</mat-label>
                        <input type="text" matInput>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);">phone_iphone</mat-icon>
                    </mat-form-field>
                    <mat-form-field style="margin-bottom: -1.05em!important" class="w-100" appearance="fill" color="primary" data-aos-duration="700" data-aos="zoom-in">
                        <mat-label>الموضــوع ..</mat-label>
                        <input type="text" matInput>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> subtitles</mat-icon>
                    </mat-form-field>
                    <mat-form-field style="margin-bottom: -1.05em!important" class="example-full-width w-100"  data-aos-duration="700" data-aos="zoom-in">
                        <mat-label>الرســاله</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> <i class="fa-regular fa-message"></i></mat-icon>
                      </mat-form-field>
                    <button mat-raised-button color="primary" class="mt-2">ارســال	<mat-icon>send</mat-icon> </button>
                    
                </div>
            </div>
        </div>
    </div>
</section>  -->