.container-fluid{
    background: var(--background, #FFF);
}
.container{
    border-radius: 8px;
background: var(--background, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
.text{
    color: #000;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'El Messiri', sans-serif!important;
    padding-top: 7rem;
}
.w-100{
    padding-right: .8rem;
    padding-left: .8rem;
}
.label{
    color: #000 !important;
    font-family: 'El Messiri', sans-serif!important;
    font-size: 1rem;
       
}
.number{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;

}

//     .container{
//     border-radius: 8px;
//     background: var(--background, #FFF);
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
//     padding: 0;
//     margin: 0;
//     }
//     .container1{
//         background: #F6F8FD;
//     }
//     
    .butoo{
    border-radius: 8px;
    background: #1C1C1C;
    font-family: 'Cairo', sans-serif;
    // height: 30px;
    text-align: center;
    }
    



   
    //   .mat-input-element {
    //     background-color: red !important;
    //   }
















    // #contact_us{
    //     box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    //     background-color: #f0f4f9;
    //     background-image: url(../../../../assets/imgs/bg_2.png);
    //     background-position: center center;
    // }
    // .check-app{
    //     line-height: 1.8;
    // }
    
    // mat-label{
    //     font-size: 1.05rem;
    //     font-weight: 500;
    //     font-family: 'El Messiri', sans-serif!important;
    
    // }
    // input{
    //     font-size: 1.1rem!important;
    //     font-family: 'El Messiri', sans-serif!important;
    // }
        