.container{
  border-radius: 8px;
  background: var(--background, #FFF);
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 160px;
  left: 20px;
  right: 10px;
}

.text{
    font-family: 'El Messiri', sans-serif!important;
    color: rgba(4, 64, 139, 0.9);
    // font-size: 1.3rem!important;
    font-weight: 600;
    border: 0;
    padding-right: 40px;
}
.text1{
    font-family: 'El Messiri', sans-serif!important;
    color: rgba(4, 64, 139, 0.9);
    font-size: 1.1rem!important;
    font-weight: 500;
    border: 0;
    padding-right: 40px;
    margin-bottom: 50px;
    line-height: normal;

}
