
<!-- Navbar -->
<section class="home shadow_5 MainNav" dir="rtl" >
  <div class="container-cus">
      <nav class="d-flex justify-content-between">
            <img routerLink="/home" src="../../../../assets/imgs/Misr Takaful Logo.jpg" class="alcanLogo" alt="Alcan logo">
            <ul id="actions">
              <!-- <li><a href="#home" routerLink="home" class="text_c nav_link">الرئيسيه</a></li>
              <li><a href="#about" class="text_c nav_link" data-bs-toggle="dropdown" aria-expanded="false">خدمتنا</a>
                <div class="dropdown">
                  <ul class="dropdown-menu p-3">
                    <li class="nav_item"><a class="dropdown-item py-2" routerLink="/SelectInsurances/individual">تأمين فردي</a></li>
                    <li class="nav_item"><a class="dropdown-item py-2" routerLink="/Takaful">تأمين تكافلي</a></li>
                    <li class="nav_item"><a class="dropdown-item py-2" routerLink="/SelectInsurances/companies">تأمين شركات</a></li>
                    <li class="nav_item"><a class="dropdown-item py-2" routerLink="/CustomerProtection">دليل حمايه المستهلك</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#service" class="text_c nav_link" data-bs-toggle="dropdown" aria-expanded="false">عن الكان</a>
                <div class="dropdown">
                  <ul class="dropdown-menu p-3">
                    <li><a class="dropdown-item py-2" routerLink="/About">عن الكان </a></li>
                    <li><a class="dropdown-item py-2">اخبار الكان</a></li>
                    <li><a class="dropdown-item py-2" routerLink="/BlogAlkan">بلوج الكان</a></li>
                  </ul>
                  
                </div>
              </li>
              <li><a href="#skills" class="text_c nav_link" data-bs-toggle="dropdown" aria-expanded="false">خدمة ما بعد البيع</a>
                <div class="dropdown">
                  <ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item py-2">التجديدات</a></li>
                    <li>
                      <a class="dropdown-item py-2" >
                        إخطار المطالبات ومتابعة التعويضات &raquo;
                      </a>
                      <ul class="dropdown-menu dropdown-submenu p-3">
                        <li>
                          <a class="dropdown-item py-2" routerLink="/request">إخطار مطالبات الممتلكات والمسؤليات</a>
                        </li>
                        <li>
                          <a class="dropdown-item py-2" routerLink="/ReQuests"> إخطار المطالبات الطبيه والحياه </a>
                        </li>
                        
                        <li>
                          <a class="dropdown-item py-2" routerLink="/Homeprotectioncompensation"> إخطار مطالبات حمايه المسكن</a>
                        </li>
                        <li>
                          <a class="dropdown-item py-2" routerLink="/Personalaccidentcompensation"> إخطار مطالبات حوادث شخصيه</a>
                        </li>
                        <li>
                          <a class="dropdown-item py-2" routerLink="/CarAccidents"> إخطار مطالبات حوادث السيارات </a>
                        </li>
                        <li>
                          <a class="dropdown-item py-2" >متابعة المطالبات</a>
                        </li>
                      </ul>
                    </li>
                      <li><a class="dropdown-item py-2" routerLink="/Proplems"> الشكاوي</a></li>
                    
                    
                  </ul>
                </div>
              </li>
              <li><a class="text_c nav_link" routerLink="/Brokers">الوسطاء</a></li>
              <li><a routerLink="/CurrentJobs" class="text_c nav_link">وظائف</a></li>
              <li><a routerLink="/ContactUs" class="text_c nav_link">تواصل معنا</a></li> -->
              <li [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1000000000'"><a routerLink="/OurProducts" class="text_c nav_link">المنتجات</a></li>
              <li [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1000000000'"><a routerLink="/AcceptedPolicies" class="text_c nav_link">الوثائق</a></li>
              <li [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1011112222'"><a routerLink="/AllRequests" class="text_c nav_link">الطلبات</a></li>
              <li [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1033334444'"><a routerLink="/PreviewedRequests" class="text_c nav_link">معاينة</a></li>
              <li [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1055556666'"><a routerLink="/AllClaims" class="text_c nav_link">المطالبات</a></li>
              <!-- <li [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1129556404'"><a routerLink="/AllRequests" class="text_c nav_link">الطلبات</a></li>
              <li [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1017767202'"><a routerLink="/PreviewedRequests" class="text_c nav_link">معاينة</a></li>
              <li [hidden]="_AuthService.isLoggedDetails()?.phoneNumber !='1062229187'"><a routerLink="/AllClaims" class="text_c nav_link">المطالبات</a></li> -->
            </ul>
            <div>
              <div *ngIf="!this._AuthService.isLoggedIn()" class=" mt-2 loginClass">
                <p class=" d-flex text_B"routerLink="/login" style="font-size: .8rem;">تسجيل الدخول/انشاء حساب <img src="../../../../assets/imgs/login.png" style="width: 1.6rem;"></p>
              </div>
              <div *ngIf="this._AuthService.isLoggedIn()" class=" mt-2 loginClass">
                <p class="text_B" (click)="logOut()">تسجيل الخروج  <img src="../../../../assets/imgs/logout.png" style="width: 1.6rem;"></p>
              </div>  
            </div>
            <div class="d-flex fs-6 lan align-items-start">
              <span (click)="getLanguage(1)" class="active_Lan">عربي</span>
              <div class="mx-2 lan_div shadow_1"></div>
              <span (click)="getLanguage(2)">En</span>
                
                <!-- <select  class="form-control" style="width: 2.5rem; background-color: rgb(169, 169, 169);">
                  <option style="position: relative; right: 2px;" value="" hidden>Lang</option>
                  <option  value="Filled">AR</option>
                  <option  value="Uploaded">EN</option>
                </select> -->
            </div>
                 
            <!-- <div class="dropdown ml-auto">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Language
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                <a class="dropdown-item" href="#">English</a>
                <a class="dropdown-item" href="#">French</a>
              </div>
            </div> -->
          
          <!-- <div routerLink="login" class="d-flex mt-2 loginButton">
            <p class="text_B">تسجيل الدخول </p> 
            <i class="fa-solid fa-right-to-bracket fs-4 px-1" style="color:#235799"></i>
          </div> -->

          
            <div *ngIf="this.roles?.includes('User')" routerLink="/MainAccount2" class="outerUserProfile px-2 pt-2" style="border: solid 1px #F16E17; border-radius: 0.5rem;cursor: url(./../../../../assets/imgs/pointer.png), default;">
              <p class="text_B" ><img src="../../../../assets/imgs/user.svg" alt="" style="width: 1.3rem;"></p>
            </div>
          
          <!-- Menu -->
          <div id="menu" (click)="handleMenu()">
              <span></span>
              <span></span>
              <span></span>
          </div>

          <!-- SideBar -->
          <div *ngIf="this.roles?.includes('Admin')" id="Dash_menu" class="d-flex align-items-center">
            <div (click)="handleSideBar()" style="cursor:url(./../../../../assets/imgs/pointer.png), default;">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
      </nav>
  </div>
</section>


