<section id="takaful-medical" class="py-5" dir="rtl">
    <div class="container pt-5">
        <div class="row d-flex align-items-center ">
            <div class="col-md-7 ">

                <div class="outer py-3">
                    <div class="container">
                        <!-- companies -->
                        <div class="row my-2 px-4 companies">
                            <p class="check-app py-3">تأمين تكافلي</p>
                            <div class="my-2">
                                <label class="px-2 py-1">الاسـم</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">رقم الهاتف</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">البريد الالكتروني</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1"> موعد المكالمه المفضل لديك </label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">رمز ترويجي</label>
                                <input type="text" class="form-control">
                            </div>

                            <button class="w-75 m-auto py-4 mt-3"  mat-raised-button color="primary">ارســل</button>
                            <button class="m-auto mt-3 py-4"  mat-stroked-button color="primary" style="width: 65%;border-color:#334CAB;">اتصل بنا </button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Image companies-->
            <div class="col-md-5">
                <img src="../../../../assets/imgs/takaful.png" class="w-100 py-2">
                 <div class="OtherInsuranceDetails p-1">
                     {{this.insuranceDescription}}
                 </div>
            </div>
        </div>
    </div>
</section>