#section{
    height: 100%;
    background: var(--background, #FFF);
}
.text{
color: var(--primary, #033291);
text-align: right;
font-family: 'El Messiri', sans-serif!important;
font-size: 29px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-right: 125px;
padding-top: 30px;
}

.sec{
    background-color: #324BA9;
    // padding: 47px 31px;
    // margin-left: 3rem;
    // margin-right: 3rem;
}
.sec1{
    background-color: #F16E17;
    text-align: center;
    font-family: 'El Messiri', sans-serif!important;
    font-size: .6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 1.5rem;
}
.sec2{
    color: var(--background, #FFF);
    font-family: 'El Messiri', sans-serif!important;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-align: center;
    margin-top: 1.5rem;
}
hr{
    color: white;
    height: 2px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.year{
    color: white;
    text-align: center;
    font-family: 'El Messiri', sans-serif!important;
    font-size: .8rem;
    font-style: normal;
    // font-weight: 700;
    line-height: 110%;
}
.yeardetails{
    color: #6B77E5;
    text-align: center;
    font-family: 'El Messiri', sans-serif!important;
    font-size: .7rem;
    font-style: normal;
    // font-weight: 500;
    line-height: 157.4%;
    background-color: white;
    margin-right: 130px;
    margin-left: 130px;
    height: 25px;
    
}
.price{
    color: var(--background, #FFF);
    text-align: center;
    font-family: 'El Messiri', sans-serif!important;
    font-size: .7rem;
    font-style: normal;
    // font-weight: 500;
    line-height: normal;
}
.butto1{
    border-radius: 4px;
    background: var(--background, #FFF);
    color: #334CAB;
    text-align: center;
    font-family: 'El Messiri', sans-serif!important;
    font-size: .8rem;
    font-style: normal;
    // font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.butto2{
    border-radius: 4px;
    background: var(--background, #FFF);
    color: #F16E17;
    text-align: center;
    font-family: 'El Messiri', sans-serif!important;
    font-size: .8rem;
    font-style: normal;
    // font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 30px;
}