<section id="BlogAlkan" class="pt-5" dir="rtl">
    <div>
        <div class="container">
        <h2 class="text">بلوج الكان</h2>
        <h2 class="prgraf">اقرأ بلوج الكان و تعرف على مزيد من انواع التأمين</h2>
        <div class="row pt-4">
            <div class="col-md-4">
                <img class="image" src="../../../../assets/imgs/smile.png">
                <p class="prgraph mt-3">Lorem ipsum dolor sit <br>amet consectetur. Maec</p>
            </div>
            <div class="col-md-4">
                <img class="image" src="../../../../assets/imgs/wtite.png">
                <p class="prgraph mt-3">Lorem ipsum dolor sit <br>amet consectetur. Maec</p>
            </div>
            <div class="col-md-4">
                <img class="image" src="../../../../assets/imgs/icon.png">
                <p class="prgraph mt-3">Lorem ipsum dolor sit <br>amet consectetur. Maec</p>
            </div>
        </div>
    </div>
    </div>
   
</section>
