#all-requests{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    min-height:90vh;
    background-color: #f0f4f9;
    background-image: url(../../../../assets/imgs/bg_2.png);
    background-position: center center;
}
.fa-eye,.fa-magnifying-glass{
    border-radius: 0.4rem;
    transition: 0.5s;
}
.fa-eye:hover{
    background-color: green;
    color:#FFF!important;
    cursor: pointer;

}
.fa-magnifying-glass:hover{
    background-color: rgb(68, 68, 207);
    color:#FFF!important;
    cursor: pointer;
}
table tr td,h2{
    font-family: "Cairo", sans-serif !important;
}
h2{
    color: #215698;
}
.modal{
    --bs-modal-width: 50%;
}
.modal-title{
    font-family: "Cairo", sans-serif !important;
    color: #215698;
}
