<div id="all-requests" dir="rtl">
    <div class="container-fluid pt-4">
        <div class="pt-5">
            <p class="head_1 text-center my-4">معاينـة الطلبـات</p>
        </div>
        <div class="outerItem outerBorder shadow_5 my-3" style="margin: auto; overflow: auto;">
            <table class="table table-striped table-responsive-sm text-center">
                <thead class="tableHead py-3">
                    <th class="py-3">#</th>
                    <th class="py-3">الاســم</th>
                    <th class="py-3">الهــاتف</th>
                    <th class="py-3">البريد الالكتروني</th>
                    <th class="py-3">السياره</th>
                    <th class="py-3">الموديل</th>
                    <th class="py-3">عام التصنيع</th>
                    <th class="py-3">السعر</th>
                    <th class="py-3">تفاصيل العرض</th>
                    <th class="py-3">معاينة</th>
                </thead>
                <tbody>

                    <tr *ngFor="let item of AllRequests;let index =index">
                        <th class="align-middle">{{index+1}}</th>
                        <td class="align-middle">
                            {{item.userName}} 
                        </td>
                        <td class="align-middle">
                            {{item.phonenumber}} 
                        </td>
                        <td class="align-middle">
                            {{item.email}} 
                        </td>
                        <td class="align-middle">
                            {{item.carbrand}} 
                        </td>
                        <td class="align-middle">
                            {{item.carModel}} 
                        </td>
                        <td class="align-middle">
                            {{item.manYear}} 
                        </td>
                        <td class="align-middle">
                            {{item.price}} 
                        </td>
                        <td class="align-middle">
                            <i (click)="itemDetails=item" data-bs-toggle="modal" data-bs-target="#Details" class="fa-regular fa-eye text-success px-2 py-2 fs-5"></i>
                        </td>
                        <td class="align-middle">
                            <i (click)="this.InsuranceRequestId=item.id" class="fa-solid fa-magnifying-glass text-primary px-2 py-2 fs-5" data-bs-toggle="modal" data-bs-target="#networkCoding"></i>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div id="loading" *ngIf="loading">
                <app-spinner class="d-flex justify-content-center m-auto"></app-spinner>
            </div>
        </div>
    </div>
    
<!--------------------------------------- Previewer Model --------------------------->
<div class="modal fade" id="networkCoding" tabindex="-1" aria-labelledby="networkCoding" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="networkCoding">تقرير المعاينة</h1>
            </div>
            <div class="container my-3">
                <form [formGroup]="Form">
                    <mat-form-field class="w-100">
                        <mat-label>اسم المعاين</mat-label>
                        <input formControlName="UserId" type="text" matInput>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> <i class="fa-regular fa-user"></i></mat-icon>
    
                    </mat-form-field>
                    <mat-form-field style="margin-bottom: -1.05em!important" class="example-full-width w-100">
                        <mat-label>الملاحظــات</mat-label>
                        <textarea formControlName="Notes" matInput></textarea>
                        <mat-icon matIconSuffix style="color: rgba(0, 0, 0, 0.5);"> <i class="fa-regular fa-message"></i></mat-icon>
                    </mat-form-field>
                </form>


                <div class="row mt-2">
                    <div class="col-md-10">
                        <table id="uploadFilesTap" class="table table-striped table-bordered text-center" style="border-radius: 20px;">
                            <tbody class="align-middle">
                                <tr>
                                    <th class="w-30 py-2">ارفق صور / فيديو</th>
                                    <td class="w-60 py-2">
                                        <div>
                                            <i (click)="fileInput2.click()"
                                                class="fa-solid fa-cloud-arrow-up fs-2 px-2 py-2"
                                                style="color:#3F51B5;border-radius: 5px;"></i>
                                            <input hidden (change)="uploadComfirmedFiles($event)" #fileInput2 type="file">
                                            <span class="file-name">{{selectedComfirmedFile?.name}}</span>
                                        </div>
                                    </td>
                                    <td class="30 py-2">
                                        
                                    </td>
                                    <td class=" py-2">
                                        <button (click)="viewFile()"
                                            [disabled]="this.selectedComfirmedFile==''"
                                            mat-stroked-button color="primary">اضافة <i class="fa-solid fa-plus"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <!-- /Table Files -->
                <div class="outerBorder shadow_5" *ngIf="this.FilesArr.length>0">
                    <table class="table table-striped text-center">
                        <thead>
                            <th>#</th>
                            <th>الملف</th>
                            <th class="remove"></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of FilesArr;let index = index">
                                <td class="align-middle">{{index+1}}</td>
                                <td class="align-middle">{{item.FileNote.name}}</td>
                                <td class="remove"><button color="warn" (click)="remove(index)"
                                        mat-raised-button>حـذف</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                


            </div>

            <div class="modal-footer py-2 d-flex justify-content-between">
                <button [disabled]="isClicked||this.Form.status=='INVALID'" (click)="AddPreviewerReport()" type="button" mat-raised-button color="primary">
                    <span *ngIf="isClicked"><i class="fa-solid fa-fan fs-6 fa-spin"></i></span>
                    <span *ngIf="!isClicked">حفــظ</span>
                </button>
                <button  id="close" type="button" mat-raised-button
                    data-bs-dismiss="modal">الغاء
                </button>
            </div>
        </div>
    </div>
</div>
    <!--------------------------------------- Details Model --------------------------->
    <div class="modal fade" id="Details" tabindex="-1" aria-labelledby="Details" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="Details">تفاصيل العرض</h1>
                </div>
                <div class="container my-3">
                   
                    <div class="row">
                        <div class="col-6">
                            <table class="table table-striped table-bordered text-center mt-2" style="border-radius: 50px;">
                                <tbody>
                                    <tr>
                                        <th class="w-30 py-3">Company Name</th>
                                        <td class="w-60 py-3">{{itemDetails?.companyName}}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-30 py-3">Net Premum</th>
                                        <td class="w-60 py-3">{{itemDetails?.premium}}</td>
                                    </tr>
    
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <table class="table table-striped table-bordered text-center mt-2" style="border-radius: 50px;">
                                <tbody>
                                    <tr>
                                        <th class="w-30 py-3">Insurance Class</th>
                                        <td class="w-60 py-3">{{itemDetails?.insuranceType}}</td>
                                    </tr>
                                    <tr>
                                        <th class="w-30 py-3">Sum Insured</th>
                                        <td class="w-60 py-3">{{itemDetails?.sumInsured}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
    
    
                </div>
    
                <div class="modal-footer py-2 d-flex justify-content-between">
                    <button  id="close" type="button" mat-raised-button
                        data-bs-dismiss="modal">الغاء
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



