#customerProtection{
    min-height: 85vh;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    background-color: #f0f4f9;
    background-image: url(../../../../assets/imgs/bg_2.png);
    background-position: center center;
}
img{
    border: dashed 2px gray;
    border-radius: 0.8rem;
}