/* You can add global styles to this file, and also import other style files */
@import "~aos/dist/aos.css";
@import 'ngx-toastr/toastr';

// @import url('./assets/Fonts/jasmine-fonts.css');

html, body{ height: 100%;
    font-size: 16px; 
    // scroll-behavior: smooth;
    // font-family: 'El Messiri', sans-serif!important;
    // font-family: 'Jasmine', sans-serif !important;
    font-family: "Cairo", sans-serif !important;


    cursor: url(./assets/imgs/defult.png), auto;
}
// @font-face{
//     font-family: Jasmine;
//     src: url(../../../assets/Files/Jasmine.ttf);
// }
::-webkit-scrollbar {
    background-color:#ededed;
    border-radius: 20px;
    
  }
  ::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 20px;
    height: 70px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
  }
        ///Modal Settings
.modal-backdrop{
    --bs-backdrop-zindex:0;
}
.modal{
    background-color: rgba(0, 0, 0 ,0.5);
    z-index: 5!important;
}
.modal-backdrop.show {
    opacity:0!important;
    position:static!important
}
        // Some Shadows
.shadow_1{
    box-shadow:  rgba(0, 0, 0, 0.3) 0px 10px 36px -18px inset;
}
.shadow_2{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.shadow_3{                                     //gg
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;        }
.shadow_4{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.shadow_5{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
        // Fonts
.head_1{ 
    font-family: 'El Messiri', sans-serif!important;
    color: rgba(4, 64, 139, 0.9) !important;
    font-size: 1.6rem!important;
    font-weight: bold!important;
    border: 0;
}
.desc_F_1{
    font-family: Arial, Helvetica, sans-serif!important;
    font-weight: 500!important;
    line-height: 1.2!important;
    font-size: 1.5rem;
}
.check-app {
    color: #324BA9;
    font-size: 1.25rem;
    font-weight: 600;
}
.text_B {
    color: rgba(4, 64, 139, 0.9);
    font-size: 1.1rem;
    font-weight: bold;
    border: 0;
}
.text_c{
    color: rgba(4, 64, 139, 0.9) !important;
    font-size: 0.9rem;
    font-weight: bold;
    border: 0;
}
.font_Coloered{
    color: #d97706;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1px;
}

.font_Coloered2{
    color: #d97706;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1.5px;
}
.font_Coloered3{
    color: #4758B8;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1px;
}
.btn_colored{
    background-color: #d97706;
    color:#fff;
    transition: 0.5s;
}
.btn_colored:hover{
    background-color:#09c;
    color:#fff
}


.font_2{
    color: #555;
    font-family: -apple-system;
    font-size: 0.9rem;
}
.outerBorder{
    border:1px solid transparent;
    
    padding: 0.6rem;
    border-radius: 0.6rem;
}
.smallOuterBorder{
    border:1px solid transparent;
    margin:0.2rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
}
.font_Coloered3:before{
    content: '';
    padding-left: 0.7rem;
    border-left: solid 0.32rem #4758B8;
}

.w_39{
    width:39%;
}
.w_61{
    width:61%;
}
.mdc-list {
    margin: 0;
    padding: 0px 0;
  }

// Custom Buttons Angular Material
.mat-test{
    --mdc-protected-button-container-color: #09c;
    --mdc-protected-button-label-text-color: #fff;
    letter-spacing: 0.8px;
}
.mat-green{
    --mdc-protected-button-container-color: #52BCED;
    --mdc-protected-button-label-text-color: #000;
    font-size: 1.02rem;
}
.mdc-button__label{
    letter-spacing: 0.5px!important;

}
.tableHead th{
    font-size: 1rem;
    min-width: 6.5rem;
}
.mat-drawer.mat-drawer-side {
    z-index: 0!important;
}
    /////////// table Setting /////////////
thead th{
    font-size:0.8rem!important;
}
tr td{
    font-size:0.8rem!important;
}


.outerItem{
    position :relative;
    min-height: 21vh;
}
#loading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.25);
}
td i{
    cursor: url('./assets/imgs/pointer.png'), default;
    border-radius: 7px;
  }
.fa-pencil{
    transition: 0.2s;
}
.fa-pencil:hover{
    background-color:#3F51B5;
    color:#FFF!important;
}
  .fa-trash-can{
    transition: 0.2s;
  }
  .fa-trash-can:hover{
    background-color:#FF4886;
    color:#FFF!important;
  }

.tableSize{
    border: solid 2px #4758B8!important;
}

.w-30{
    width: 40%;
}
.w-60{
    width: 60%;
}
tr td{
    font-size: 1rem!important;
    font-family: 'Noto Sans', sans-serif;
}

.ngx-pagination .current{
    background-color: #4758B8!important;
}
@media all and (max-width:750px){
html{
    font-size: 14px!important;
}
.whatsAppIImg{
    width: 5.5% !important;
}
// .WhyUsHeight{
//     height: 70vh!important;
// }
#objectInputs{
    width: 100%!important;
}
.mdc-button{
    font-size: 12px;
}
.caption{
    font-size: 1rem!important;
}
.LocalTitle{
    font-size: 0.8rem!important;
}
.pt_custom{
    padding-top: 2rem!important;
}
.w_75_custom{
    width: 100%!important;
}
.OrderBtn{
    font-size: 0.8rem;
    // padding-top: 0rem;
}
.LocalTitleDetails{
    font-size: 0.7rem!important;
}
.ClientsHeight{
    max-height: 8vh!important;
}

.aboutBoxItem{
    margin: 0 0!important;
}
.appParent,.WhyImg{
    display: none;
}
.carousel_item_Img{
    height: 45vh;
}
.carousel-control-prev{
    padding-left: 25px;
}

}





// Font button Material
.mdc-button .mdc-button__label {
    font-family: 'El Messiri', sans-serif!important;
    font-size: 1rem!important;
}
button{
    cursor: url('./assets/imgs/pointer.png'), default!important;
}
.mdc-tab {
    font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family,'El Messiri', sans-serif));
    font-size: var(--mdc-typography-button-font-size, 1.05rem);
    font-weight: var(--mdc-typography-button-font-weight, 700);
    letter-spacing: var(--mdc-typography-button-letter-spacing, 0em);
}
.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
    background-color: #3f51b5;
    padding: 0.7rem 0.5rem;
    color: #FFF;
    border-radius: 0.5rem;
}

// Text 
.text_gray{
    color: #6E6E6E;
}
.text_primary{
    color: #033291;
}
.big_title{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
}
.mid_title{
    font-size: 1.1rem;
    font-weight: 600;
}
.border1{
    border-radius: 17px;
    border: 1px solid rgba(228, 123, 0, 0.28);
    background: var(--background, #FFF);
}
button{
    cursor: url('./assets/imgs/pointer.png'), default!important;
}
.mat-input-element {
    background-color: red !important;
  }
  mat-label {
    font-size: 1.05rem;
    font-weight: 500;
    font-family: "Cairo", sans-serif !important;
}
.mdc-text-field__input  {
    font-family: "Cairo", sans-serif !important;

}