<div style="border: solid 1px rgba(0 , 0 , 0 , 0.2);border-bottom: none;min-height: 92.4vh;">

                            <!-- Admin -->
    <!-- Dashboard -->
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header head px-2">
                <button routerLink="/AllAccidents" routerLinkActive="active" class="w-100 collapsed px-2 my-1" type="button" data-bs-toggle="collapse" data-bs-target="#H_2">
                    <i class="fa-solid fa-car-burst"></i> كــل الحــوادث
                </button>
            </h2>
        </div>
    </div>
    <!-- <div *ngIf="this._AuthService.isLoggedIn()" class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header head px-2">
                <button routerLink="/AdminDashboard" routerLinkActive="active" class="w-100 collapsed px-2 my-1" type="button" data-bs-toggle="collapse" data-bs-target="#H_2">
                    <i class="fa fa-grip-horizontal"></i> Admin Dashboard
                </button>
            </h2>
        </div>
    </div> -->

    


                            <!-- Previewer -->
    




</div>