.container{
    padding-right: 100px;
    padding-left: 100px;
  background-color:white;
  position: absolute;
  top: 160px;
  left: 20px;
  right: 10px;
  border-radius: 8px;
  background: var(--background, #FFF);
  
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.09);
}

.text{
    font-family: 'El Messiri', sans-serif!important;
    color: rgba(4, 64, 139, 0.9);
    font-size: 1.3rem!important;
    font-weight: bold!important;
    border: 0;
}
.text1{
    font-family: 'El Messiri', sans-serif!important;
    color: rgba(4, 64, 139, 0.9);
    font-size: .7rem!important;
    font-weight: bold!important;
    border: 0;
}
.form-control{
    background-color: #EDF0F5;
}

.mat-mdc-radio-button.mat-accent{
    // --mdc-radio-selected-focus-icon-color: #3f51b5!important;
    --mdc-radio-selected-hover-icon-color:#3f51b5;
    --mdc-radio-selected-icon-color:#3f51b5;
  }
