<div class="section pt-4" style="background-color: white; position: relative;" dir="rtl">
    <div style="position: relative; ">
        <img src="../../../../assets/imgs/Import.png" style="height: 300px !important;">
        <p class="new text-white fs-4" style="position: absolute; right: 200px; top: 90px;"> الوسطاء</p>
        
    </div>
    <div class=" container">
        <h2 class="text pt-3">الوسطاء من الأفراد</h2>
        <p class="text1">لما لا نحول من يعمل في نفس المجال من أفراد لشركاء بدل من منافسين. نحن نسعى دائما للتوسع في الأعمال في جميع أنواع التأمين. فمن خلال<br>ما سبق لنا من تجارب وخبرات، فالشراكة مع الوسطاء من الأفراد لتقديم أفضل خدمة للعملاء المتوقعين استراتيجية دوما ما تفيد جميع الأطراف.
            <br>تواصل معنا
        </p>
        <hr style="width: 75%;">
        <div class="row pt-2">
            <div class="col-md-6">
                <label class="text1">الأسم</label>
                <input class="form-control">
            </div>
            <div class="col-md-6">
                <label class="text1">رقم التليفون</label>
                <input class="form-control">
            </div>
        </div>
        <div class="row pt-2">
            <label class="text1  mt-3">البريد الألكتروني</label>
            <input class="form-control">
        </div>
        <!-- <div class="row pt-2">
            <h2 class="text1">هل أنت وسيط مقيد لدى هيئة العامة للرقابة المالية؟ *</h2>
            <mat-radio-group aria-Q_Title="Select an option">
                <mat-radio-button >نعم</mat-radio-button>
                <mat-radio-button >لا</mat-radio-button>
            </mat-radio-group> 
        </div> -->
        <hr class="pt-2">
        <div class="row pt-2">
            <div class="col-md-4"></div>
            <div class="col-md-4"><img src="../../../../assets/imgs/ropot.png"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row pt-2">
            <div class="col-md-4"></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center"><button type="button" style="background-color: blue;border-radius: 1.1rem;" class="text-white w-75 mx-4 py-2">ارسال</button></div>
            <div class="col-md-4"></div>
        </div>
        <div class="py-2"></div>

    </div>

</div>