<section id="global-medical" class="py-5" dir="rtl">
    <div class="container pt-5">
        <div class="row d-flex align-items-center ">
            <div class="col-md-7 ">
                <!-- Indiviual Or Companies -->
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item w_47 mx-2" role="presentation">
                        <button (click)="getInsuranceType('companies')" [class.active]="this.type=='companies'" class="nav-link  w-100" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">تأمين الشركات </button>
                    </li>
                    <li class="nav-item w_47" role="presentation">
                        <button (click)="getInsuranceType('individual')" [class.active]="this.type=='individual'" class="nav-link w-100" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">تأمين فردي </button>
                    </li>
                </ul>

                <div class="outer py-3">
                    <div class="container">
                        <!-- companies -->
                        <div class="row my-2 px-4 companies" style="display: none;">
                            <p class="check-app py-3">التأمين الطبي الدولي الجماعي </p>
                            <div class="my-2">
                                <label class="px-2 py-1">الاسـم</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">رقم الهاتف</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">البريد الالكتروني</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1"> موعد المكالمه المفضل لديك </label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">رمز ترويجي</label>
                                <input type="text" class="form-control">
                            </div>

                            <button class="w-75 m-auto py-4 mt-3" routerLink="/OurService2" mat-raised-button color="primary">حفــظ</button>
                            <button class="m-auto mt-3 py-4"  mat-stroked-button color="primary" style="width: 65%;border-color:#334CAB;">اتصل بنا </button>
                        </div>
                        <!-- Indiviual -->
                        <div class="row my-2 px-4 Indiviual" style="display: none;">
                            <p class="check-app py-3">التأمين الطبي الدولي    </p>
                            <div class="my-2">
                                <label class="px-2 py-1">الاسـم</label>
                                <input type="text" class="form-control" placeholder="ادخل الاسم ">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">تاريخ الميلاد </label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">الجنـس</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>اختر</option>
                                    <option value="1">ذكر</option>
                                    <option value="2">انثي</option>
                                  </select>
                            </div>
                            <div class="my-2">
                                <label class="px-2 py-1">رقم الهاتف</label>
                                <input type="text" class="form-control" placeholder="ادخل رقم الهاتف">
                            </div>
                          
                            <div class="my-2">
                                <label class="px-2 py-1">رمز ترويجي</label> 
                                <input type="text" class="form-control"placeholder="ادخل النوع">
                            </div>

                            <button class="w-75 m-auto py-4 mt-3"  mat-raised-button color="primary">مقارنه</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image companies-->
            <div class="col-md-5">
                <img src="../../../../assets/imgs/insurances/globalMedicalGroup.png" class="w-100">
                 <div class="OtherInsuranceDetails p-1">
                     {{this.insuranceDescription}}
                 </div>
            </div>
        </div>
    </div>
</section>