footer{
    background-color:#f6f8fd;
}
.head_1{
    color: #FFF!important;
}
.check-app{
    color:#FFF!important
}
.footerLink,.footerImgLink{
    cursor: pointer;
    transition: 0.3s;
}
.footerLink:hover{
    color: #ff9503!important;
}
.social img{
    cursor: pointer;
}
.footerTitle{
    color: var(--DarkPurple, #11142D);
    font-size: 1.05rem;
    font-weight: 600;
}
.footerDetails1{
    color: #6E6E6E;
    // font-family: Cairo;
    font-size: 1.05rem;
    font-weight: 500;
}
.footerDetails1:hover{
    // cursor: pointer;
    cursor: url('../../../../assets/imgs/pointer.png'), default!important;

}
.footerDetails{
    color: #9d9d9d;
    font-size: 1rem;
}
.footerDetails2{
    color: #6E6E6E;
    // font-family: Cairo;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    cursor: url('../../../../assets/imgs/pointer.png'), default!important;

}
.emailBox{
    background-color:#FFF;
    border: solid 2px #eee;
}
.emailBox input{
    padding: 1.1rem 0.2rem;
    border:none ;
}
.emailBtn{
    cursor: pointer!important;
    background-color: #334CAB;
    color: #FFF;
    border-radius: 0px!important;
}
@media all and (max-width:750px){
    .center{
        text-align: center!important;
    }
    .AlkanMap{
        height: 2rem;
        width: 2rem;
    }
}
.w-50{
    cursor: url('../../../../assets/imgs/pointer.png'), default!important;
}
.px-2{
    cursor: url('../../../../assets/imgs/pointer.png'), default!important;

}
.hide{
    display: none;
}
.footerDetails2:hover + .hide {
    display: block;
    color: red;
}