<footer dir="rtl" class="py-4 my-4">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-md-3 mt-3">
                <div class="px-4">
                    <div class="d-flex justify-content-center">
                        <img routerLink="/home" src="../../../../assets/imgs/AlcanlLogo.png" alt="" class="w-50">
                    </div>
                    <p class="footerDetails py-5 text-center">هذا الموقع حاصل على موافقة الهيئة 
                         العامة للرقابة المالية بتاريخ 6/3/2024 تحت رقم 99</p>
                    <div class="social d-flex justify-content-center">
                        <a href="https://www.facebook.com/profile.php?id=61555070528768" target="_blank"> 
                          <img src="../../../../assets/imgs/Footer/facebook.svg" alt=""class="px-2">
                        </a>
                        <a href="https://www.youtube.com/?app" target="_blank">
                            <img src="../../../../assets/imgs/Footer/youtube.svg" alt="" class="px-2">
                        </a>
                        <a href="https://www.linkedin.com/company/100058981/admin/feed/posts/" target="_blank">
                            <img src="../../../../assets/imgs/Footer/linkedin.svg" alt="" class="px-2">
                        </a>
                        <a href="https://www.instagram.com/alkaninsurancebrokerage/" target="_blank">
                            <img src="../../../../assets/imgs/Footer/instagram.svg" alt="" class="px-2">
                        </a>
                        <a href="https://twitter.com/" target="_blank">
                            <img src="../../../../assets/imgs/Footer/twitter.svg" alt="" class="px-2">
                        </a>
                        <a href="https://web.whatsapp.com/" target="_blank">
                            <img src="../../../../assets/imgs/Footer/Whatsapp.svg" alt="" class="px-2">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 center mt-3">
                <p class="footerTitle">خدماتنا</p>
                <p class="footerDetails1 pt-2" routerLink="LocalMedical/individual/15">تأمين طبي</p>
                <p class="footerDetails1 pt-1" routerLink="/Cars/individual/22">تأمين سيارات</p>
                <p class="footerDetails1 pt-1" routerLink="/Responsibilities/individual/14">تأمين ممتلكات</p>
                <p class="footerDetails1 pt-1" routerLink="/Transport/individual/17">تأمينات النقل</p>
                <p class="footerDetails1 pt-1" routerLink="/HomeProtection/individual/25">تأمين حماية المنزل</p>
                <p class="footerDetails1 pt-1" routerLink="/Life/individual/12">تأمينات الحياة </p>
                <p class="footerDetails1 pt-1" routerLink="/PersonalAccidents/individual/23">تأمين ضد الحوادث الشخصية</p>
            </div>
            <div class="col-md-2 center mt-3">
                <p class="footerTitle">روابط سريعة</p>
                <p class="footerDetails1 pt-2" routerLink="/About">عن الكان</p>
                <p class="footerDetails1 pt-1" routerLink="/ContactUs">تواصل معنا</p>
                <p class="footerDetails1 pt-1" routerLink="/SelectInsurances/individual">خدمات</p>
                <p class="footerDetails1 pt-1" routerLink="/login">تسجيل الدخول</p>
                <p class="footerDetails1 pt-1" routerLink="">الشروط و الاحكام</p>
            </div>
            <div class="col-md-2 center mt-3">
                <p class="footerTitle">المساعدة و الدعم</p>
                <p class="footerDetails1 pt-2" routerLink="/request">اخطارالمطلبات ومتابعة التعويضات</p>
                <p class="footerDetails1 pt-1" routerLink="/Proplems">الشكاوي</p>
                <p class="footerDetails1 pt-1" routerLink="/">سياسة الخصوصية</p>
                <p class="footerDetails1 pt-1" routerLink="/CustomerProtection">دليل حماية المستهلك</p>
            </div>

            <div class="col-md-3 center mt-3">
                <div class="phone d-flex justify-content-center align-items-center">
                    <img src="../../../../assets/imgs/Footer/Vector.svg" class="px-2">
                    <div>
                        <p class="footerDetails2"><a href="tel:+20 25065767">25065767 (20+)</a>  - <a href="tel:+20 25065757"> 25065767 (20+)</a></p>
                        <p class="footerDetails2"><a href="tel:01029333306">01029333306</a>  - <a href="tel:01017555539">01017555539</a> - <a href="tel:01032222304">01032222304</a></p>
                    </div>
                </div>
                <div class="phone d-flex justify-content-center align-items-center mt-2">
                    <img src="../../../../assets/imgs/Footer/Time.svg" class="px-2">
                    <div>
                        <p class="footerDetails2 ">مواعيد العمل من 9 صباحآ حتى 5 مساء  </p>
                    </div>
                </div>
                <div class="phone d-flex justify-content-center align-items-center mt-2">
                    <img src="../../../../assets/imgs/Footer/Gmail.svg" class="px-2">
                    <div>
                        <a href="mailto:alkaninsbrok@alkan.com" style="font-size: 1rem;">alkaninsbrok@alkan.com</a>
                        <!-- <p class="footerDetails2">alkaninsbrok@alkan.com</p> -->
                    </div>
                </div>
                <div class="phone d-flex justify-content-center align-items-center mt-2">
                    <img src="../../../../assets/imgs/Footer/Location.svg" class="px-2">
                    <div>
                        <p class="footerDetails2 ">
                        <a class="AlkanMap" href="https://maps.google.com/maps?q=العنوان:المبنى الإداري (T2) الوحدة الإدارية رقم (70.05.T2 )الدور السابع سيتادل بلازا- أول الطريق الصاعد للمقطم بطريق الأوتوستراد –القاهرة" style="text-decoration: none;">
                           العنوان:المبنى الإداري (T2) الوحدة الإدارية رقم (70.05.T2 )الدور السابع سيتادل بلازا- أول الطريق الصاعد للمقطم بطريق الأوتوستراد –القاهرة
                        </a>
                        </p>   
                        <!-- <span class="hide">kjhdhc hjkhjkhj hkkjhkjh hkjk hkjh</span> -->
                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d55279.66127597262!2d31.280227061478335!3d30.008764261865007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z2KfZhNi52YbZiNin2YY62KfZhNmF2KjZhtmJINin2YTYpdiv2KfYsdmKIChUMikg2KfZhNmI2K3Yr9ipINin2YTYpdiv2KfYsdmK2Kkg2LHZgtmFICg3MC4wNS5UMiAp2KfZhNiv2YjYsSDYp9mE2LPYp9io2Lkg2LPZitiq2KfYr9mEINio2YTYp9iy2KctINij2YjZhCDYp9mE2LfYsdmK2YIg2KfZhNi12KfYudivINmE2YTZhdmC2LfZhSDYqNi32LHZitmCINin2YTYo9mI2KrZiNiz2KrYsdin2K8g4oCT2KfZhNmC2KfZh9ix2Kk!5e0!3m2!1sen!2seg!4v1707309743205!5m2!1sen!2seg" style="border:0; height: 5rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  class="w-100 py-2"></iframe> -->
                    </div>
                </div>
                <div class="emailBox d-flex align-items-center mt-2">
                    <input type="text" placeholder="بريدك الالكتروني" class="w-75">
                    <button class="btn btn-primary emailBtn w-25 mx-1">ارسل</button>
                </div>
            </div>
        </div>
    </div>
</footer>